<div class="resume-amount">
  <label>{{ subType }}</label>
  <label l10nTranslate *ngIf="isADM" >ADM_ACM.AMOUNT.adm_amount</label>
  <label l10nTranslate *ngIf="!isADM">ADM_ACM.AMOUNT.acm_amount</label>
  <span>{{ total | decimalsFormatter:decimals }}</span>
  <span>{{ currency }}</span>
</div>

<div *ngIf="false">
  <div class="form-entry">
    <label l10nTranslate>ADM_ACM.AMOUNT.fare</label>
    <div class="input-content">
      <input type='text'/>
    </div>
  </div>
</div>

<div *ngIf="true">

  <table class="table table-borderless table-amount">
    <thead>
      <tr>
        <th></th>
        <th l10nTranslate>ADM_ACM.AMOUNT.agentInput</th>
        <th l10nTranslate>ADM_ACM.AMOUNT.airlineInput</th>
        <th l10nTranslate>ADM_ACM.AMOUNT.difference</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="title" l10nTranslate>ADM_ACM.AMOUNT.fare</th>
        <td>
          <!-- [(ngModel)]="agentCalculations.fare"> -->
          <input class="form-control col-10" type="text">
        </td>
        <td>
          <!-- [(ngModel)]="airlineCalculations.fare"> -->
          <input class="form-control col-10" type="text">
        </td>
        <td>
          <!-- [value]="totalCalculations.fare"> -->
          <input class="form-control col-10" type="text">
        </td>
      </tr>
      <tr>
        <th class="title" l10nTranslate>ADM_ACM.AMOUNT.tfc
          <img src="assets/images/utils/ico_tooltip.svg"/>
        </th>
        <td>
          <!-- [(ngModel)]="agentCalculations.tax"> -->
          <input class="form-control col-10" type="text">
        </td>
        <td>
          <!-- [(ngModel)]="airlineCalculations.tax"> -->
          <input class="form-control col-10" type="text">
        </td>
        <td>
          <!-- [value]="totalCalculations.tax"> -->
          <input class="form-control col-10" type="text">
        </td>
      </tr>
      <tr>
        <th class="title" l10nTranslate>ADM_ACM.AMOUNT.comission</th>
        <td>
          <!-- [(ngModel)]="agentCalculations.commission"> -->
          <input class="form-control col-10" type="text">
        </td>
        <td>
          <!-- [(ngModel)]="airlineCalculations.commission"> -->
          <input class="form-control col-10" type="text">
        </td>
        <td>
          <!-- [value]="totalCalculations.commission"> -->
          <input class="form-control col-10" type="text">
        </td>
      </tr>
      <tr *ngIf="showSpam">
        <th class="title" l10nTranslate>ADM_ACM.AMOUNT.spam</th>
        <td>
          <!-- [(ngModel)]="agentCalculations.spam"> -->
          <input class="form-control col-10" type="text">
        </td>
        <td>
          <!-- [(ngModel)]="airlineCalculations.spam"> -->
          <input class="form-control col-10" type="text">
        </td>
        <td>
          <!-- [value]="totalCalculations.spam"> -->
          <input class="form-control col-10" type="text"> 
        </td>
      </tr>
      <tr *ngIf="showTOCA">
        <th class="title" l10nTranslate>ADM_ACM.AMOUNT.toca</th>
        <td>
          <!-- [(ngModel)]="agentCalculations.taxOnCommission"> -->
          <input class="form-control col-10" type="text">
        </td>
        <td>
          <!-- [(ngModel)]="airlineCalculations.taxOnCommission"> -->
          <input class="form-control col-10" type="text">
        </td>
        <td>
          <!-- [value]="totalCalculations.taxOnCommission"> -->
          <input class="form-control col-10" type="text">
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td l10nTranslate>total</td>

        <!-- 
          <td class="isNumber">{{totalAmount.agentValue}}</td>
          <td class="isNumber">{{totalAmount.airlineValue}}</td>
          <td class="isNumber">{{totalAmount.dif}}</td> 
        -->

        <td class="isNumber">1000 EUR</td>
        <td class="isNumber">1000 EUR</td>
        <td class="isNumber">1000 EUR</td>
      </tr>
    </tfoot>
  </table>

  <table class="table table-borderless table-amount">
    <thead>
      <tr>
        <th l10nTranslate>ADM_ACM.AMOUNT.taxcode</th>
        <th l10nTranslate>ADM_ACM.AMOUNT.agentInput</th>
        <th l10nTranslate>ADM_ACM.AMOUNT.airlineInput</th>
        <th l10nTranslate>ADM_ACM.AMOUNT.difference</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of taxes; let i=index">
        <td>
          <!-- [(ngModel)]="item.name"> -->
          <input class="form-control col-6" type="text">
        </td>
        <td>
          <!-- [(ngModel)]="item.agentValue"> -->
          <input class="form-control col-10" type="text">
        </td>
        <td>
          <!-- [(ngModel)]="item.airlineValue"> -->
          <input class="form-control col-10" type="text">
        </td>
        <td>
          <!-- [value]="item.dif"> -->
          <div class="input-group">
            <input class="form-control col-10" type="text">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary button-bin-float-right ml-1" (click)="removeTax(i)">
                <i class="fa fa-trash-o fa-lg"></i>
              </button>
            </div>
          </div>

        </td>
      </tr>
    </tbody>

    <tfoot>
      <tr>
        <td colspan="4">
          <!-- TODO: cambiar la forma de hacer flotantes los divs -->
          <div class="float-left">
            <button l10nTranslate class="button-add" (click)="addTax()">
              <span class="small-font-awesome fa-stack">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-plus inverse-color fa-stack-1x"></i>
              </span>
              ADM_ACM.AMOUNT.addTax
            </button>
          </div>

          <div class="float-right">
            <button class="button-default" (click)="clean()" l10nTranslate>
              clear
            </button>

            <button class="button-primary" (click)="populate()" [disabled]="true" l10nTranslate>
              ADM_ACM.AMOUNT.populate
            </button>
          </div>
        </td>
      </tr>
    </tfoot>
  </table>

</div>
