<div class="filesFilter">
  <div *ngIf="!showFilterResults" class="expandCollapse">
      <img src="../../../assets/images/glyph/svg/si-glyph-arrow-down.svg" alt="" (click)="showHideFilterResults(true)">
  </div>

  <div *ngIf="showFilterResults" class="expandCollapse">
    <img src="../../../assets/images/glyph/svg/si-glyph-arrow-up.svg" alt="" (click)="showHideFilterResults(false)">
  </div>
  <div [hidden]="!showFilterResults" >

   <form  #filesForm="ngForm" >
  <div class="filesFiltersInputs">
    <span class="filterItem" l10nTranslate>DatesFilter </span>
    <jqxDateTimeInput #myDateTimeInput (onChange)="dateOnChange()"
        [width]="250" [height]="25" [selectionMode]="'range'"  name="dateFiles">
    </jqxDateTimeInput>
    <span class="filterItem" l10nTranslate>FileType</span>
    <jqxInput #inputTypeFile [width]='150' [height]='30' name="typeFile"  [(ngModel)]="dataFilters.type" ></jqxInput>
    <span class="filterItem" l10nTranslate>StatusFilter</span>
    <jqxDropDownListNw #downListStatus [width]="150" [height]="30" [(ngModel)]="dataFilters.status"  [source]="statusListItems"
     placeHolder="Select..."  name="downListStatus"
     [displayMember]="'name'" [valueMember]="'code'">
    </jqxDropDownListNw>
  </div>

 <!--  <button (click)="setValue()">set value</button> -->
  <div class="filesFilterButtons">
    <a href="javascript:void(0)"l10nTranslate class="reset-button" (click)="reset()" >ResetFilter</a>
    <jqxButton l10nTranslate [theme]="'primary'" [hidden]="true">FILES.FILTER.saveSearch</jqxButton>
    <jqxButton l10nTranslate id="searchFiles" [theme]="'primary'" (click)="search()" [disabled]="filesForm.form.pristine">search_button</jqxButton>
  </div>
</form>
</div>

</div>
