.jqx-widget-header {
  background: #CCDCE6;
}

.jqx-action-button-custom {
  border-left: none;
  background-color: #ffffff;
}
// TODO: añadir url de la imagen del calendario
.jqx-icon-calendar-custom {
  background-image: url();
  background-color: #82DAF0;
}