<div *ngIf="checkDashboard()">
  <jqxDocking #myDocking (onDragEnd)="dragEnd($event)">

    <div>
      <div *ngFor='let card of this.dashboard' [id]="card.title" style="height: 280px;">
        <div>
          {{card.title}}
        </div>
        <div style="overflow: hidden; text-align: center;">
          <div style="display: inline-block;">
            <img [src]="card.imgPath" alt="IE6" title="IE6" />
          </div>
        </div>
      </div>
    </div>

    <div></div>
    <div></div>
    <div></div>
  </jqxDocking>
</div>
