%button-custom {
  background: #014E81;
  color: white;
  width: 83px;
  height: 37px;
  border-radius: 2px;
  cursor: pointer !important ;
  font-size: 16px;
  border-style: none;
}

%button-custom[disabled] {
  // background-color: #013E66;
}

%button-structure {
  height: 40px;
  border-radius: 2px;
  font-size: 16px;
  padding-left: 17px;
  padding-right: 17px;
}

.btn-s {
  @extend %button-structure;

  &.btn-light {
    border: 1px solid #152C5A;
  }
}

.button-custom {
  @extend %button-custom;
}

.button-add {
  @extend %button-custom;
  background-color: #1989CF;
  width: 120px;

  .inverse-color {
      color: #1989CF;
  }

  .small-font-awesome {
      font-size: 0.4em;
  }
}

%button-default {
  @extend %button-custom;
  line-height: 0px;
  background-color: #FFFFFF;
  color: #152C5A;
  border: 1px solid #152C5A;
}

%button-default[disabled] {
  // background-color: #CECECE;
}

.button-default {
  @extend %button-default;
}

.button-default.details-button {
  @extend %button-default;
  height: 22px;
  width: 120px;
  margin-top: 18px;
}

%button-primary {
  @extend %button-custom;
  line-height: 0px;
  background-color: #152C5A;
  color: #FFFFFF;
  border: 1px solid #152C5A;
}

.button-primary {
  @extend %button-primary;
}

.button-primary[disabled] {
  @extend %button-primary;
  opacity: 0.5;
}

.button-primary-right {
  @extend %button-primary;
  float: right;
}

.button-switch-pill {
  float: right;
  min-width: 123px;
  color: #1989CF;
  border: solid 1px #1989CF;
  background-color: #FFFFFF;
  font-size: 14px;
  border-radius: 100px;
  text-align: center;
  padding: 0 4px;
  height: 26px;

  &:focus {
    outline: none;
  }

  .button-title {
    text-align: center;
    margin-top: 4px;
    padding-right: 10px;
  }

  .icon-fa-custom {
    font-size: 10px;
    float: left;
    margin-right: 5px;
  }
}

%button-bin {
  border: none;
  cursor: pointer;
}

.button-bin {
  @extend %button-bin;
}

.button-bin:disabled {
  @extend %button-bin;
  opacity: 0.5;
}

.button-bin-float-right {
  @extend %button-bin;
  height: 40px;
  width: 40px;
  background-color: transparent;
}

%pill {
  cursor: pointer;
  min-width: 123px;
  color: #1989CF;
  border: solid 1px #1989CF;
  background-color: #FFFFFF;
  vertical-align: middle;
  font-size: 14px;
  line-height: 16px;
  padding: 4px 10px;
  // border-radius: 0;
  // margin-left: -3px;
  // margin-right: -3px;

  &.active {
    background-color: #1989CF !important;
    border-color: #1989CF !important;
    color: #FFFFFF !important;
  }

  &:focus{
    outline: none !important;
  }
}

.pills-links {
  .pill {
    @extend %pill;
  }

  .pill-first {
    @extend %pill;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    // margin-left: 0;
  }

  .pill-last {
    @extend %pill;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    // margin-right: 0;
  }
}

.btn-plus{
  width: 27px;
  font-size: 27px !important;
  color: 	#1989CF;
  margin-top: 5px;
}
