.custom-checkbox {
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-height: 16px;
  color: #152C5A;
}
  
.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
  
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: transparent;
  border: 1px solid  #152C5A;
  border-radius: 3px;
}
  
.custom-checkbox:hover input ~ .checkmark {
  background-color: transparent;
  border: 1px solid  #152C5A;
  border-radius: 3px;
}
  
.custom-checkbox input:checked ~ .checkmark {
  background-color: #152C5A;
}
  
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
  
.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}
  
.custom-checkbox .checkmark:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 3px;
}