<div class="panel">
  <div class="left">
    <div class="left-white">
      <img src="assets/images/ico_iata.svg">
      <p>HOGG ROBINSON</p>
      <p>SWITZERLAND LTD</p>
      <p>8120196-0</p>
    </div>
    <div class="left-blue">
      <p><b>Period: </b>2017081</p>
      <hr>
      <p>BSP Switzerland</p>
      <p>Passenger Ticket and Baggage Check</p>
      <p>Conjunction tickets</p>
    </div>

  </div>

  <div class="right">
    <table class="type1">
      <tbody>
        <tr>
          <td>
            Issued by
          <div class="cell-data">Deutche Lufthansa</div>
          </td>
          <td>
            Origin/Destination
          <div class="cell-data">ZRHZRH</div>
          </td>
          <td >
            Booking
          <div class="cell-data">Fare Restrictions Apply</div>
          </td>
        </tr>
        <tr>
          <td>
            Endorsemets/Restrictions
          <div class="cell-data">Fare Restrictions Apply</div>
          </td>
          <td>
            Booking erence
          <div class="cell-data">NNCPs4/1G</div>
          </td>
          <td>
            Issue in Exchange for
          <div class="cell-data">0000000000</div>
          </td>
        </tr>
        <tr>
          <td>
            Passenger Name Not Transferable
          <div class="cell-data">Ploetz/Arminjosefder</div>
          </td>
          <td>
            BSP
          <div class="cell-data">C3</div>
          </td>
          <td>
            Date of Issue
          <div class="cell-data">03Aug17</div>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="type2">
      <thead>
        <tr>
          <th>X/O</th>
          <th>NOT GOOD FOR PASSAGE FROM</th>
          <th>CARRIER</th>
          <th>FLIGHT</th>
          <th>CL</th>
          <th>DATE</th>
          <th>TIME</th>
          <th>ST</th>
          <th>FARE BASIS</th>
          <th>N. VALID B</th>
          <th>N. VALID A</th>
          <th>ALLO</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td>ZRHZURICH</td>
          <td>LH</td>
          <td>5779</td>
          <td>T</td>
          <td>6AUG</td>
          <td>19:05</td>
          <td>OK</td>
          <td>TYUJRLUGSBS21</td>
          <td>6AUG</td>
          <td>6AUG</td>
          <td>OPC</td>
        </tr>
        <tr>
          <td></td>
          <td>TO FRA - FRANKFURT</td>
          <td>LH</td>
          <td>1243</td>
          <td>T</td>
          <td>6AUG</td>
          <td>19:05</td>
          <td>OK</td>
          <td>TYUJRLUGSBS21</td>
          <td>6AUG</td>
          <td>6AUG</td>
          <td>OPC</td>
        </tr>
        <tr>
          <td></td>
          <td>TO KRK - KRAKOW</td>
          <td>LH</td>
          <td>4376</td>
          <td>T</td>
          <td>6AUG</td>
          <td>19:05</td>
          <td>OK</td>
          <td>TYUJRLUGSBS21</td>
          <td>6AUG</td>
          <td>6AUG</td>
          <td>OPC</td>
        </tr>
        <tr>
          <td></td>
          <td>TO FRA - FRANKFURT</td>
          <td>LH</td>
          <td>4592</td>
          <td>T</td>
          <td>6AUG</td>
          <td>19:05</td>
          <td>OK</td>
          <td>TYUJRLUGSBS21</td>
          <td>6AUG</td>
          <td>6AUG</td>
          <td>OPC</td>
        </tr>
        <tr>
          <td></td>
          <td>TO ZRH - ZURICH</td>
          <td colspan='10' class="special">
            <div class="boxlist">
              <div class="box">PCS</div>
              <div class="box">ST</div>
              <div class="box">U</div>
              <div class="box">PCS</div>
              <div class="box">WT</div>
              <div class="box">U</div>
              <div class="box">PCS</div>
              <div class="box">WT</div>
              <div class="box">U</div>
              <div class="box">PCS</div>
              <div class="box">WT</div>
              <div class="box">U</div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="type1">
      <tbody>
        <tr>
          <td>
            Fare
          <div class="cell-data">IT</div>
          </td>
          <td colspan="3">
            Fare Calculation
          <div class="cell-data">ZRT LH X/FRA LH HRK M/IT LH X/FRA ZRH M/T END ROE0.9763</div>
          </td>
        </tr>
        <tr>
          <td>Equivalence</td>
          <td colspan="3"></td>
        </tr>
        <tr>
          <td>
            Tax
          <div class="cell-data">CHF 35,00 CH</div>
          </td>
          <td>
            Form of Payment
          <div class="cell-data">CC CREDIT CCA 357894XXXXXX10000 345,50</div>
          </td>
          <td>
            App Code
          <div class="cell-data">CHF 35,00 XT</div>
          </td>
          <td>
            Tour Code
          <div class="cell-data">112IH</div>
          </td>
        </tr>
        <tr>
          <td>
            Tax
          <div class="cell-data">CHF 35,00 CH</div>
          </td>
          <td colspan="3"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
