.custom.ui-scrollpanel {
    border: none;
    
    .ui-scrollpanel-wrapper {
        border: none;
    }

    .ui-scrollpanel-bar { 
        opacity: 1;  
        width: 5px;
    }

    .ui-scrollpanel-bar:hover {

    }
}

