.custom.ui-scrollpanel {
    border: none;

    .ui-scrollpanel-wrapper {
        border: none;
    }

    .ui-scrollpanel-bar {
        opacity: 0;
        width: 5px;
    }

    &:hover .ui-scrollpanel-bar {
      opacity: 1;
    }
}

