<div class="sub-form">

  <div class="form-entry-row">
    <div class="form-group">
      <label l10nTranslate>ADM_ACM.DETAILS.ticketIssueDate</label>
      <p-calendar 
        styleClass="custom form-control"
        panelStyleClass="custom"
        [(ngModel)]="relatedDocument" 
        readonlyInput="true" 
        appendTo="body"
        showIcon="true"
        (onSelect)="onRelatedDocumentChange()">
      </p-calendar>
    </div>
  </div>

  <div class="form-entry-row">
    <div class="form-group">
      <label l10nTranslate>ADM_ACM.DETAILS.passenger</label>
      <input 
        class='form-control input-custom' 
        [(ngModel)]="passenger" 
        (change)="onPasengerChange()" />
    </div>
  </div>

  <div class="form-entry-row">
    <div class="form-group">
      <label l10nTranslate>ADM_ACM.DETAILS.documents</label>
      <input class='form-control input-custom-number' 
        type="text" 
        pattern="\d*" 
        maxlength="13"
        [(ngModel)]="documentNumber" 
        (keydown)="checkNumbers()"/>
    </div>
    
    <div class="form-group">
      <label></label>
      <button l10nTranslate 
          class="form-control button-add" 
          [disabled]="documentNumber.length != 13" 
          (click)="addDocument()">
        <span class="small-font-awesome fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-plus inverse-color fa-stack-1x"></i>
        </span>
        ADM_ACM.DETAILS.addDocument
      </button>
    </div>
  </div>

</div>

<div class="sub-form">

  <div class="form-entry-row">
    <div class="form-group">
      <label l10nTranslate>ADM_ACM.DETAILS.reasonIssue</label>
      <input 
        type="text" 
        class='form-control input-custom' 
        [(ngModel)]="reasonForMemoIssuanceCode" 
        (blur)="onReasonForMemoIssuanceCodeChange()"
      />
    </div>
  </div>

  <div class="form-entry-row" *ngIf="topTenList.length > 0">
    <div class="form-group">
      <label l10nTranslate>ADM_ACM.DETAILS.topTen</label>
      <select class="form-control"
          [(ngModel)]="elemSelect" 
          (select)="topTenSelect()">
        <option *ngFor="let item of topTenList" [value]="item.id">item.title</option>
      </select>
    </div>
  </div>

  <div class="form-entry-row">
    <div class="form-group">
      <label l10nTranslate>ADM_ACM.DETAILS.reasonMemo</label>
      <textarea 
        class="form-control textarea-custom" 
        rows="4" 
        cols="50" 
        [(ngModel)]="reasonForMemo" 
        (blur)="onReasonForMemoChange()">
      </textarea>
    </div>
  </div>

</div>