<div [id]="id_acdm" class="container-fluid custom-container">
  <div class="row" id="acdm-header" [ngClass]="checkClassSticky()">
    <bspl-resume-bar class="col-12"
      [elementsResumeBar]="elementsResumeBar"
      (returnSave)="onReturnSave()"
      (returnIssue)="onReturnIssue()">
    </bspl-resume-bar>
    <bspl-pills-collapsable class="col-12"
      [pills]="pills"
      [idReference]="id_acdm"
      (returnRefreshPills)="onReturnRefreshPills($event)">
    </bspl-pills-collapsable>
  </div>
  <div class="row hidden-header" [hidden]="!checkSticky()"></div>
  <div class="row">
    <div class="col-3 order-12" id="multitabs" [ngClass]="checkClassSticky()">
      <bspl-multitabs
        [url]="url"
        [idPk]="id_acdm_model"
        [modelView]="screen"
        [documents]="ticketDocuments"
        (removeTicket)="onRemoveTicket($event)">
      </bspl-multitabs>
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col-12">
          <bspl-collapsable
            [idCollapsable]="pills[0].id"
            [title]="'ADM_ACM.BASIC_INFO.title'"
            (showHide)="collapsablePill($event, 0)"
            [open]="pills[0].collapsable">
            <bspl-basic-info-adm-acm
              [model]="basicInfoFormModel"
              [isAdm]="isAdm"
              [countryList]="countryList">
            </bspl-basic-info-adm-acm>
          </bspl-collapsable>
          <bspl-collapsable
            [idCollapsable]="pills[1].id"
            [title]="'ADM_ACM.AMOUNT.title'"
            (showHide)="collapsablePill($event, 1)"
            [open]="pills[1].collapsable">
            <bspl-amount-adm-acm
              [isAdm]="isAdm"
              [model]="amountFormModel">
            </bspl-amount-adm-acm>
          </bspl-collapsable>
          <bspl-collapsable
            [idCollapsable]="pills[2].id"
            [title]="'ADM_ACM.DETAILS.title'"
            (showHide)="collapsablePill($event, 2)"
            [open]="pills[2].collapsable">
            <bspl-details-adm-acm
              [model]="detailsFormModel">
            </bspl-details-adm-acm>
          </bspl-collapsable>
        </div>
      </div>
    </div>
  </div>
</div>
