<div class="row align-items-center navigation">
  
  <div class="col-2 section">
    <div class="row">
      <div class="col">
        <img class="header-logo" src="../assets/images/ico_iata.svg">
        <span class="brand"><b>BSP<i>link</i></b></span>
      </div>
    </div>
  </div>

  <div class="col-4 section combos">
    <div class="row">
      <div class="col">
        <select class="special-selector">
          <option value="1" selected>Global</option>
        </select>
        <select class="special-selector">
          <option value="1" selected>World Wide Travel One 33212345</option>
        </select>
      </div>
    </div>
  </div>

  <div class="col-3 section actions">
    <div class="row">
      <div class="col single-action">
        <img src="../assets/images/header/ico-support.svg">
        <div l10nTranslate>support</div>
      </div>
      <div class="col single-action">
        <img src="../assets/images/header/ico-resources.svg">
        <div l10nTranslate>resource</div>
      </div>
      <div class="col single-action">
        <img src="../assets/images/header/ico-shop.svg">
        <div l10nTranslate>shop</div>
      </div>
      <div class="col single-action">
        <img src="../assets/images/header/ico-help.svg">
        <div l10nTranslate>help</div>
      </div>
    </div>
  </div>

  <div class="col section user-section">
    <div class="row align-items-center">
      <div class="col notification">
        <img class="img" src="../assets/images/header/ico-notifications.svg">
        <span class='badge'>5</span>
        <div l10nTranslate>notifications</div>
      </div>
      <div class="col user">
        <img src="../assets/images/header/ico-user.svg">
        Hello User
        <i class="fa fa-angle-down"></i>
      </div>
    </div>
  </div>

</div>


