<div>

  <div class="sub-form">
    <div class="form-entry-row">
      <div class="form-group"
       forceWidth [setWidth]="'40%'">
        <label l10nTranslate>ADM_ACM.BASIC_INFO.BSP.label</label>
        <select
          class="form-control dropdown-custom"
          name="isoCountryCode"
          [(ngModel)]="basicInfo.isoCountryCode"
          (change)="selectCountry()">
          <option *ngFor="let c of countries"
            [value]="c.code">{{c.description}}</option>
        </select>
      </div>
    </div>

    <div class="form-entry-row">
      <div class="form-group"
       forceWidth [setWidth]="'15%'">
        <label l10nTranslate>ADM_ACM.BASIC_INFO.billingPeriod</label>
        <select class="form-control dropdown-custom"
        name="period"
        [(ngModel)]="period"
        (change)="checkBillingPeriod()"
        [disabled]="periodList.length === 0">
          <option *ngFor="let per of periodList"
            [value]="per">{{per}}</option>
        </select>
      </div>
      <div class="form-group"
       forceWidth [setWidth]="'30%'">
        <label for=""></label>
        <select class="form-control dropdown-custom"
          name="periodMonth"
          [(ngModel)]="periodMonth"
          (change)="checkBillingPeriod()"
          [disabled]="periodMonthList.length === 0">
          <option *ngFor="let month of periodMonthList"
            [value]="month.code">{{month.description}}</option>
        </select>
      </div>
      <div class="form-group"
       forceWidth [setWidth]="'15%'">
        <label for=""></label>
        <select class="form-control dropdown-custom"
          name="periodYear"
          [(ngModel)]="periodYear"
          (change)="checkBillingPeriod()"
          [disabled]="periodYearList.length === 0">
          <option *ngFor="let year of periodYearList"
            [value]="year">{{year}}</option>
        </select>
      </div>
    </div>

    <app-agent
      [agentCode]="agentCode"
      [agentCheckDigit]="agentCheckDigit"
      [style]="styleAgent"
      [vatNumber]="basicInfo.agentVatNumber"
      [companyReg]="basicInfo.agentRegistrationNumber"
      [showVat]="configuration.agentVatNumberEnabled"
      [showCompanyReg]="configuration.companyRegistrationNumberEnabled"
      [showContact]="false"
      (onChangeAgentCode)="onChangeAgentCode($event)"
      (onChangeVatNumber)="onChangeAgentVatNumber($event)"
      (onChangeCompanyReg)="onChangeAgentCompanyReg($event)"
      (onClickMoreDetails)="agentMoreDetails()">
    </app-agent>

    <p-dialog styleClass="info-card"
      [(visible)]="displayAgent"
      [modal]="true"
      [responsive]="true"
      [width]="430"
      [closable]="false"
      appendTo="body">
      <p-header>
        <span l10nTranslate>ADM_ACM.BASIC_INFO.agent.title</span>
      </p-header>
      <div>
        <table>
          <tbody>
            <tr>
              <th l10nTranslate>ADM_ACM.BASIC_INFO.agent.address</th>
              <td>{{basicInfo.agent.billingStreet}}</td>
            </tr>
            <tr>
              <th l10nTranslate>ADM_ACM.BASIC_INFO.agent.postcode</th>
              <td>{{basicInfo.agent.billingPostalCode}}</td>
            </tr>
            <tr>
              <th l10nTranslate>ADM_ACM.BASIC_INFO.agent.city</th>
              <td>{{basicInfo.agent.billingCity}}</td>
            </tr>
            <tr>
              <th l10nTranslate>ADM_ACM.BASIC_INFO.agent.country</th>
              <td>{{basicInfo.agent.billingCountry}}</td>
            </tr>
          </tbody>
        </table>
        <jqxButton l10nTranslate
          [height]="40"
          [theme]="'primary-right'"
          (click)="closeAgent()">
          close_button
        </jqxButton>
      </div>
    </p-dialog>
  </div>

  <div class="sub-form">
    <div class="form-entry-row">
      <div class="form-group quarter">
        <label l10nTranslate>ADM_ACM.BASIC_INFO.type</label>
         <select class="form-control dropdown-custom"
          [(ngModel)]="basicInfo.transactionCode"
          (change)="selectSubtype()">
            <option *ngFor="let subType of admSubTipeList"
              [value]="subType.code">{{subType.description}}</option>
        </select>
      </div>
    </div>

    <div class="form-entry-row">
      <div class="form-group quarter">
        <label l10nTranslate>ADM_ACM.BASIC_INFO.number</label>
        <input class="form-control input-custom-number"
          [(ngModel)]="basicInfo.id"
          [disabled]="true">
      </div>
    </div>

    <div id="adcm-airline">
      <app-airline
        [disabled]="!basicInfo.isoCountryCode"
        [style]="styleAirline"
        [airlineCode]="basicInfo.company.airlineCode"
        [vatNumber]="basicInfo.airlineVatNumber"
        [companyReg]="basicInfo.airlineRegistrationNumber"
        [showVat]="configuration.airlineVatNumberEnabled"
        [showCompanyReg]="configuration.companyRegistrationNumberEnabled"
        [showContact]="true"
        [name]="basicInfo.airlineContact.contactName"
        [telephone]="basicInfo.airlineContact.phoneFaxNumber"
        [email]="basicInfo.airlineContact.email"
        (onChangeAirlineCode)="onChangeAirlineCode($event)"
        (onChangeVatNumber)="onChangeVatNumber($event)"
        (onChangeCompanyReg)="onChangeCompanyReg($event)"
        (onChangeContact)="onChangeContact($event)"
        (onClickMoreDetails)="airlineMoreDetails()">
      </app-airline>
    </div>
    <p-dialog styleClass="info-card"
      [(visible)]="displayAirline"
      [modal]="true"
      [responsive]="true"
      [width]="430"
      [closable]="false"
      appendTo="body">
      <p-header>
        <span l10nTranslate>ADM_ACM.BASIC_INFO.airline.title</span>
      </p-header>
      <div>
        <table>
          <tbody>
            <tr>
              <th l10nTranslate>ADM_ACM.BASIC_INFO.airline.address</th>
              <td>{{basicInfo.company.address1}}</td>
            </tr>
            <tr>
              <th l10nTranslate>ADM_ACM.BASIC_INFO.airline.postcode</th>
              <td>{{basicInfo.company.postalCode}}</td>
            </tr>
            <tr>
              <th l10nTranslate>ADM_ACM.BASIC_INFO.airline.city</th>
              <td>{{basicInfo.company.city}}</td>
            </tr>
            <tr>
              <th l10nTranslate>ADM_ACM.BASIC_INFO.airline.country</th>
              <td>{{basicInfo.company.country}}</td>
            </tr>
          </tbody>
        </table>
        <jqxButton l10nTranslate
          [height]="40"
          [theme]="'primary-right'"
          (click)="closeAirline()">close_button</jqxButton>
      </div>
    </p-dialog>
  </div>



  <div class="form-page settings">
    <div class="form-entry-row">
      <div class="form-group settings"
        forceWidth [setWidth]="'15%'">
        <label *ngIf="isADM" l10nTranslate>ADM_ACM.BASIC_INFO.ADM</label>
        <label *ngIf="!isADM" l10nTranslate>ADM_ACM.BASIC_INFO.ACM</label>
        <label l10nTranslate>ADM_ACM.BASIC_INFO.SPDRCombo.label</label>
        <select class="form-control dropdown-custom"
          [(ngModel)]="basicInfo.concernsIndicator"
          (change)="selectConcernsIndicator()">
          <option *ngFor="let item of forList" [value]="item.code">{{item.description}}</option>
        </select>
      </div>

      <div class="form-group settings" 
        forceWidth [setWidth]="'15%'"
        *ngIf="configuration.taxOnCommissionEnabled">
        <label l10nTranslate>ADM_ACM.BASIC_INFO.TOCACombo.label</label>
        <select class="form-control dropdown-custom"
          [(ngModel)]="basicInfo.tocaType"
          (change)="register()">
          <option *ngFor="let toca of tocaTypeList" [value]="toca.code">{{toca.description}}</option>
        </select>
      </div>

      <div class="form-group settings"
        forceWidth [setWidth]="'15%'">
        <label l10nTranslate>ADM_ACM.BASIC_INFO.currencyCombo.label</label>
        <select class="form-control dropdown-custom"
          [(ngModel)]="currency"
          (change)="selectCurrency()">
          <option *ngFor="let curre of currencyList" [value]="curre.name">{{curre.name}}</option>
        </select>
      </div>

      <div class="form-group settings"
        forceWidth [setWidth]="'15%'">
        <label l10nTranslate>ADM_ACM.BASIC_INFO.statCombo.label</label>
        <select class="form-control dropdown-custom"
          *ngIf="!configuration.freeStat"
          [ngClass]="{'error' : getStyleError('stat', basicInfo.stat)}"
          [(ngModel)]="basicInfo.stat">
          <option *ngFor="let stat of statList" [value]="stat.code">{{stat.description}}</option>
        </select>

        <input class="form-control input-custom"
          *ngIf="configuration.freeStat"
          ownPattern
          [typingPattern]="'[DI][A-Z0-9]{2}$'"
          maxlength="3"
          [ngClass]="{'error' : getStyleError('stat', basicInfo.stat)}"
          [(ngModel)]="basicInfo.stat"
          (change)="register()"/>
      </div>

      <div class="form-group settings" 
        forceWidth [setWidth]="'15%'"
        *ngIf="configuration.nridAndSpamEnabled">
        <label l10nTranslate>ADM_ACM.BASIC_INFO.nr</label>
        <input class="form-control input-checkbox"
          type="checkbox"
          [(ngModel)]="basicInfo.netReporting"
          (change)="setNetReporting()">
      </div>
    </div>

  </div>
</div>
