.jqx-widget-header {
  background: #CCDCE6;
}

.jqx-action-button-custom {
  border-left: none;
  background-color: #ffffff;
}

.jqx-icon-calendar-custom {
  background-image: 'assets/utils/ico_calendar.svg';
}
