.jqx-popover-modal-background-custom {
    background-color: rgba(255, 255, 255, 0.5);
}

.jqx-popover-custom {
    padding: 26px 30px;
    top: 372px !important;
    left: 50% !important;
    margin-left: -215px;
    
    th {
        text-align: left;
        color: #000000;		
        font-size: 16px;
        font-weight: bold;
        line-height: 26px;
    }
}

.jqx-popover-title-custom {
    background-color: #fff;
    color: #033E78;
    font-size: 24px;
}
