@import 'variables';

.table-pagination {
  position: relative;
  .table-pagination-mask{
    background-image: url('/assets/images/load.gif');
    background-color: white;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
    min-height: 100px;
  }
  .content-table{
    padding: $margin-table;
  }
  .selec-elems{
    margin-left: 40px;
    padding: 6px;
    font-weight: bolder;
  }
  .clear-selec{
    margin-left: 20px;
    font-style: italic;
    cursor: pointer;
  }
  .table-pagination-nums {
    margin-bottom: 4px;
    margin-left: $margin-table;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 1px solid rgba(128, 128, 128, 0.274);
    .numpag {
      display: inline-block;
      padding: 6px;
      cursor: pointer;
    }

    .currentpag {
      background-color: lightblue;
    }
  }
}
