<div>
  <div class="header-tab">
    <div class="tab-row">
      <div class="tab"
        (click)="selectTab(1, enable_tab1)"
        [ngClass]="{'selected': isSelected(1),
                    'disabled': !enable_tab1}">
        <span *ngIf="badge_val_tab1 > 0" class='badge'> {{badge_val_tab1}} </span>
        <img src="assets/images/utils/ico-history_{{colorTab('history')}}.svg">
      </div>
      <div class="tab"
        (click)="selectTab(2, enable_tab2)"
        [ngClass]="{'selected': isSelected(2),
                    'disabled': !enable_tab2}">
        <span *ngIf="badge_val_tab2 > 0" class='badge'> {{badge_val_tab2}} </span>
        <img src="assets/images/utils/ico-documents_{{colorTab('documents')}}.svg">
      </div>
      <div class="tab"
        (click)="selectTab(3, enable_tab3)"
        [ngClass]="{'selected': isSelected(3),
                    'disabled': !enable_tab3}">
        <span *ngIf="badge_val_tab3 > 0" class='badge'> {{badge_val_tab3}} </span>
        <img src="assets/images/utils/ico-files_{{colorTab('files')}}.svg">
      </div>
      <div class="tab"
        (click)="selectTab(4, enable_tab4)"
        [ngClass]="{'selected': isSelected(4),
                    'disabled': !enable_tab4}">
        <span *ngIf="badge_val_tab4 > 0" class='badge'> {{badge_val_tab4}} </span>
        <img src="assets/images/utils/ico-comments_{{colorTab('comments')}}.svg">
      </div>
      <div class="tab"
        (click)="selectTab(5, enable_tab5)"
        [ngClass]="{'selected': isSelected(5),
                    'disabled': !enable_tab5}">
        <span *ngIf="badge_val_tab5 > 0" class='badge'> {{badge_val_tab5}} </span>
        <img src="assets/images/utils/ico-chat_{{colorTab('chat')}}.svg">
      </div>
    </div>
  </div>

  <div class="content-tab">
    <div [hidden]="!isSelected(1)">
      <app-history></app-history>
    </div>
    <div [hidden]="!isSelected(2)">
      <app-documents></app-documents>
    </div>
    <div [hidden]="!isSelected(3)">
      <app-files></app-files>
    </div>
    <div [hidden]="!isSelected(4)">
      <app-comments></app-comments>
    </div>
    <div [hidden]="!isSelected(5)">

    </div>
  </div>
</div>
