<div class="row">

  <div class="col-12">

    <form class="body-form pb-5" [formGroup]="view.model.groupForm">

      <div class="row">

        <!-- BLOCK LEFT -->
        <div class="col-6">

          <div class="row">
            <div class="col-9">
              <!-- GROUP TYPE AND ID-->
              <div class="form-row " *ngIf="isView(typesOfScreens.NEW_USER) || isView(typesOfScreens.MOD_USER)">

                <!-- TYPE -->
                <div class="form-group col pb-0 mb-0">
                  <bspl-dropdown-single *ngIf="isView(typesOfScreens.NEW_USER)" l10nTranslate [groupForm]="view.model.groupForm" [controlName]="'userType'"
                    [label]="'USERS.type'" [wrapText]="true" [options]="view.getTypeOfUsersArray()">
                  </bspl-dropdown-single>

                  <bspl-input-form-control l10nTranslate *ngIf="isView(typesOfScreens.MOD_USER)" [wrapText]="true" [label]="'USERS.type'" [groupForm]="view.model.groupForm"
                    [controlName]="'userType'">
                  </bspl-input-form-control>
                </div>

                <!-- USER CODE -->
                <div *ngIf="isView(typesOfScreens.NEW_USER)">
                  <div class="form-group col pb-0 mb-0 pr-1" *ngIf="view.checkType(view.types_of_users.AIRLINE)">
                    <bspl-input-form-control l10nTranslate [wrapText]="true" [label]="'USERS.userCode'" [type]="'regex'" [typingPattern]="patterns.ALPHANUMERIC_UPPERCASE"
                      [inputMaxTextLength]="'3'" [groupForm]="view.model.groupForm" [controlName]="'userCode'">
                    </bspl-input-form-control>
                  </div>

                  <div class="form-group col pb-0 mb-0 pr-1" *ngIf="view.checkType(view.types_of_users.AGENT)">
                    <bspl-input-form-control l10nTranslate [wrapText]="true" [label]="'USERS.userCode'" [type]="'regex'" [typingPattern]="patterns.NUMERIC"
                      [inputMaxTextLength]="'7'" [groupForm]="view.model.groupForm" [controlName]="'userCode'">
                    </bspl-input-form-control>
                  </div>

                  <div class="form-group col pb-0 mb-0 pr-1" *ngIf="view.checkType(view.types_of_users.GDS)">
                    <bspl-input-form-control l10nTranslate [wrapText]="true" [label]="'USERS.userCode'" [type]="'regex'" [typingPattern]="patterns.ALPHANUMERIC_LOWERCASE"
                      [inputMaxTextLength]="'4'" [groupForm]="view.model.groupForm" [controlName]="'userCode'">
                    </bspl-input-form-control>
                  </div>

                  <div class="form-group col pb-0 mb-0 pr-1" *ngIf="!view.checkType(view.types_of_users.GDS) && !view.checkType(view.types_of_users.AGENT) && !view.checkType(view.types_of_users.AIRLINE)">
                    <bspl-input-form-control l10nTranslate [wrapText]="true" [label]="'USERS.userCode'" [type]="'regex'" [typingPattern]="patterns.ALPHANUMERIC_LOWERCASE"
                      [inputMaxTextLength]="'10'" [groupForm]="view.model.groupForm" [controlName]="'userCode'">
                    </bspl-input-form-control>
                  </div>
                </div>

                <div *ngIf="isView(typesOfScreens.MOD_USER)">
                  <div class="form-group col pb-0 mb-0">
                    <bspl-input-form-control l10nTranslate [wrapText]="true" [label]="'USERS.userCode'" [groupForm]="view.model.groupForm"
                      [controlName]="'userCode'">
                    </bspl-input-form-control>
                  </div>
                </div>
              </div>

              <!-- NAME -->
              <div class="form-group">
                <bspl-input-form-control l10nTranslate [wrapText]="true" [label]="'USERS.name'" [type]="'regex'" [typingPattern]="patterns.ALPHANUMERIC_LOWERCASE_WITH_SPACE"
                  [inputMaxTextLength]="'49'" [groupForm]="view.model.groupForm" [controlName]="'name'">
                </bspl-input-form-control>
              </div>

              <!-- LAST NAME -->
              <div class="form-group" *ngIf="isView(typesOfScreens.NEW_USER) || isView(typesOfScreens.MOD_USER)">
                <bspl-input-form-control l10nTranslate [wrapText]="true" [label]="'USERS.lastname'" [type]="'regex'" [typingPattern]="patterns.ALPHANUMERIC_LOWERCASE_WITH_SPACE"
                  [inputMaxTextLength]="'49'" [groupForm]="view.model.groupForm" [controlName]="'lastname'">
                </bspl-input-form-control>
              </div>

              <!-- USERNAME -->
              <div class="form-group">
                <bspl-input-form-control l10nTranslate [wrapText]="true" [label]="'USERS.username'" [groupForm]="view.model.groupForm"
                  [controlName]="'username'" [inputMaxTextLength]="'200'">
                </bspl-input-form-control>

                <!-- EMAIL -->
                <div class="form-group">
                  <bspl-input-form-control l10nTranslate [wrapText]="true" [label]="'USERS.email'" [groupForm]="view.model.groupForm"
                    [controlName]="'email'" [inputMaxTextLength]="'200'">
                  </bspl-input-form-control>
                </div>

                <!-- COMPANY -->
                <div class="form-group">
                  <bspl-input-form-control l10nTranslate [wrapText]="true" [label]="'USERS.company'" [type]="'regex'" [typingPattern]="patterns.ALPHANUMERIC_LOWERCASE"
                    [inputMaxTextLength]="'30'" [groupForm]="view.model.groupForm" [controlName]="'organization'">
                  </bspl-input-form-control>
                </div>

                <div class="form-row" *ngIf="isView(typesOfScreens.MOD_SUB_USER)">

                  <div class="form-group col-3  ">
                    <bspl-input-check-switch [label]="'USERS.active'" [isCheckBox]="false" [groupForm]="view.activeControl" [controlName]="'active'">
                    </bspl-input-check-switch>
                  </div>

                  <div class="form-group col-5 pl-1 pr-2">
                    <label class="text-nowrap" l10nTranslate>USERS.expiryDate</label>
                    <p-calendar styleClass="custom form-control" panelStyleClass="custom" readonlyInput="true" appendTo="body" dateFormat="ddMy"
                      [locale]="'date' | translate" showIcon="true" placeholder="YYYY/MM/DD" formControlName="expiryDate">
                    </p-calendar>
                  </div>
                </div>
              </div>

            </div>

          </div>

        </div>

        <!-- BLOCK RIGHT -->
        <div class="col-6">


          <div class="row">
            <div class="col-9">
              <!-- ADDRESS -->
              <div class="form-group">
                <bspl-input-form-control l10nTranslate [wrapText]="true" [label]="'USERS.address'" [type]="'regex'" [typingPattern]="patterns.ALPHANUMERIC_LOWERCASE"
                  [inputMaxTextLength]="'30'" [groupForm]="view.model.groupForm.get('address')" [controlName]="'locality'">
                </bspl-input-form-control>
              </div>

              <!-- CITY -->
              <div class="form-group" *ngIf="isView(typesOfScreens.NEW_USER) || isView(typesOfScreens.MOD_USER)">
                <bspl-input-form-control l10nTranslate [wrapText]="true" [label]="'USERS.city'" [type]="'regex'" [typingPattern]="patterns.ALPHANUMERIC_LOWERCASE"
                  [inputMaxTextLength]="'30'" [groupForm]="view.model.groupForm.get('address')" [controlName]="'city'">
                </bspl-input-form-control>
              </div>

              <!-- POSTAL CODE -->
              <div class="form-group">
                <bspl-input-form-control l10nTranslate [wrapText]="true" [label]="'USERS.postalCode'" [type]="'regex'" [typingPattern]="patterns.ALPHANUMERIC_LOWERCASE"
                  [inputMaxTextLength]="'10'" [groupForm]="view.model.groupForm.get('address')" [controlName]="'zip'">
                </bspl-input-form-control>
              </div>

              <!-- COUNTRY -->
              <div class="form-group">
                <bspl-input-form-control l10nTranslate [wrapText]="true" [label]="'USERS.country'" [type]="'regex'" [typingPattern]="patterns.ALPHANUMERIC_LOWERCASE"
                  [inputMaxTextLength]="'26'" [groupForm]="view.model.groupForm.get('address')" [controlName]="'country'">
                </bspl-input-form-control>
              </div>

              <!-- TELEPHONE -->
              <div class="form-group">
                <bspl-input-form-control l10nTranslate [wrapText]="true" [label]="'USERS.telephone'" [type]="'regex'" [typingPattern]="patterns.ALPHANUMERIC_LOWERCASE"
                  [inputMaxTextLength]="'15'" [groupForm]="view.model.groupForm" [controlName]="'telephone'">
                </bspl-input-form-control>
              </div>
            </div>
          </div>

        </div>

      </div>


      <div class="form-row" *ngIf="view.showTemplate()">
        <div class="form-group col-2 pb-0 mb-0">
          <bspl-dropdown-single l10nTranslate [label]="'USERS.template'" [wrapText]="true" [options]="view.templateService.getArrTemplates()"
            [optionLabel]="'name'" [optionSelected]="view.selectedTemplate" (selectedItem)="view.onSelectedTemplate($event)"></bspl-dropdown-single>
        </div>

        <div *ngIf="isView(typesOfScreens.NEW_USER) && view.isAgent();then showAgent else showSelect"></div>

        <ng-template #showAgent>
          <div class="form-group col-3 pr-1">
            <bspl-input-form-control l10nTranslate [wrapText]="true" [label]="'USERS.countryTerritory'" [groupForm]="view.groupIsoCountry"
              [controlName]="'isoCountry'">
            </bspl-input-form-control>
          </div>
        </ng-template>
        <ng-template #showSelect>
          <div class="form-group col-3 pr-1">
            <bspl-dropdown-multi l10nTranslate [label]="'USERS.countryTerritory'" [wrapText]="true" [selectAllBar]="true" [searchBar]="true"
              [options]="countryTerritoryService.countryTerritory" [optionSelected]="view.countries" (selectedItem)="view.onReturnCountryTerritory($event)"
              [optionLabel]="'name'"></bspl-dropdown-multi>
          </div>
        </ng-template>

        <div class="form-group col-2 pr-1">
          <label>&nbsp;</label>
          <button class="form-control btn btn-primary btn-blue" l10nTranslate (click)="view.addTemplate()">
            <i class="fa fa-plus-circle"></i> USERS.template
          </button>
        </div>

      </div>


      <div *ngIf="view.showTemplate()">

        <div class="form-row" *ngFor="let template of view.templates;let i = index;">

          <div class="form-group col-2 template-name">{{template.template.name}}</div>
          <div *ngIf="!template.modeEdit" class="form-group col-4 box-countries" [innerHTML]="template.getCountriesHtml()">

          </div>

          <div *ngIf="template.modeEdit" class="form-group col-3">
            <bspl-dropdown-multi [selectAllBar]="true" [searchBar]="true" [options]="countryTerritoryService.countryTerritory" [optionSelected]="template.arrCountries"
              (selectedItem)="template.setArrCountries($event)" [optionLabel]="'name'"></bspl-dropdown-multi>

          </div>
          <div class="form-group col">
            <img *ngIf="!template.modeEdit && !template.agent" src="/assets/images/utils/ico_edit.svg" class="float-left ico-btn mr-3"
              (click)="view.toogleEdit(i)" />
            <img *ngIf="template.modeEdit" src="/assets/images/utils/ico_save.svg" class="float-left ico-btn mt-1 pt-1" (click)="view.toogleEdit(i)"
            />
            <img *ngIf="!template.modeEdit" src="/assets/images/utils/ico_trash.svg" class="float-left ico-btn" (click)="view.removeTemplate(i)"
            />
          </div>
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-primary col-1 pull-right" (click)="view.callApi()" [disabled]="!view.model.groupForm.valid">
          {{view.getTextButton()}}
        </button>


      </div>
    </form>

  </div>

</div>
