.body-form {
    border-radius: 10px;
    border: #F4F0F0;
    background-color: #F4F0F0;
    padding: 10px 40px 10px 20px;
}

.template-name {
    color: black;
}

.box-countries {
    color: black;
    .countries{
        color: black;
        .view-more-btn {
            color:#008ACF;
            cursor: pointer;
        }
    }
}


