
// BOOTSTRAP VARIABLES

// GLOBALS

$grid-gutter-width: 40px;

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1920px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

// ---------------------------

// COLORS

$light: #FFFFFF;
$primary: #014E81;

// ---------------------------

// BUTTONS STRUCTURE CUSTOM 

// $input-btn-padding-y: 1rem;
$btn-border-radius: 2px;

// ---------------------------