<form [formGroup]="model.contactFormModelGroup">
  <div class="form-row">
    <div class="form-group col-5">
      <bspl-input-form-control l10nTranslate
        [wrapText]="true"
        [label]="'CONTACT.telephone'"
        [inputMaxTextLength]="15"
        [groupForm]="model.contactFormModelGroup"
        [controlName]="'phoneFaxNumber'">
      </bspl-input-form-control>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-10">
      <bspl-input-form-control l10nTranslate
        [wrapText]="true"
        [label]="'CONTACT.name'"
        [inputMaxTextLength]="49"
        [groupForm]="model.contactFormModelGroup"
        [controlName]="'contactName'">
      </bspl-input-form-control>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-10">
      <bspl-input-form-control l10nTranslate
        [wrapText]="true"
        [label]="'CONTACT.email'"
        [inputMaxTextLength]="200"
        [groupForm]="model.contactFormModelGroup"
        [controlName]="'email'">
      </bspl-input-form-control>
    </div>
  </div>
</form>
