@import 'variables';

.content{
    display: flex;
    flex-direction: column;
    //margin: 0px 34.5px 0px 34.5px;
    //height: 100vh;

    .section {
        flex: 1 0 auto;
        background: white;
    }
}

.disabled{
  background: gray;
}
