<form [formGroup]="airlineFormModelGroup">
  <div class="form-row">

    <div class="form-group col-2">
      <bspl-input-form-control
        l10nTranslate
        [error]="''"
        [wrapText]="true"
        [label]="'AIRLINE.code'"
        [inputMaxTextLength]="'3'"
        [formGroupParent]="airlineFormModelGroup"
        [formControlParentName]="'airlineCode'">
      </bspl-input-form-control>
    </div>

    <div class="form-group col-3" *ngIf="showMoreDetails">
      <label>&nbsp;</label>
      <button 
        l10nTranslate 
        class="form-control button-default details-button"
        [disabled]="disabledMoreDetails"
        (click)="onClickMoreDetails()">AIRLINE.more
      </button>
    </div>
  </div>
  
  <div class="form-row" *ngIf="showAirlineName">
      <div class="ceil-input form-group">
          <label l10nTranslate >AIRLINE.name</label>
            <input [disabled]="true" class="form-control" type="text" [value]="airline.globalName">
        </div>
  </div>

  <div class="form-row" *ngIf="airlineVatNumberEnabled">
    <div class="form-group col-5 col-xl-4">
      <bspl-input-form-control
        l10nTranslate
        [error]="''"
        [wrapText]="true" 
        [label]="'AIRLINE.airlineVAT'"
        [type]="'pattern'"
        [typingPattern]="'[A-Z0-9]{3}$'"
        [inputMaxTextLength]="'15'"
        [formGroupParent]="airlineFormModelGroup"
        [formControlParentName]="'airlineVatNumber'">
      </bspl-input-form-control>
    </div>
  </div>

  <div class="form-row" *ngIf="companyRegistrationNumberEnabled">
    <div class="form-group col-6 col-xl-5">
      <bspl-input-form-control
        l10nTranslate [error]="''"
        [wrapText]="true" 
        [label]="'AIRLINE.companyReg'" 
        [type]="'pattern'" 
        [typingPattern]="'[A-Z0-9]{3}$'"
        [inputMaxTextLength]="'20'"
        [formGroupParent]="airlineFormModelGroup"
        [formControlParentName]="'airlineRegistrationNumber'">
      </bspl-input-form-control>
    </div>
  </div>

  <bspl-contact *ngIf="showContact" [disabledComponent]="true" (returnForm)="onChangeContact($event)">
  </bspl-contact>
  
</form>