$theme-color: #DACF4E;

.tab-content-header {
  color: #002a51;

  .title {
    font-size: 20px;
    line-height: 24px;
  }

  .subtitle {
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
  }
  
  .color-bullet {
    height: 18px;
    border-left: 6px solid $theme-color;
    border-right: 6px solid $theme-color;
    margin-right: 3px;
  }

  border-bottom: 2px solid $theme-color;
}

.history-component {
  .history-table {
    width: 100%;
    border-collapse: collapse;

    .row.history {
      background-color: #f2f2f2;
      padding-top: 12px;
      padding-bottom: 12px;
      color: #152c5a;
      font-size: 14px;
      line-height: 16px;
    }

    .row.history:nth-child(2n) {
      background-color: #ffffff;
    }

    .icon-bullet {
      width: 15px;
      height: auto;
    }
  }
}
