<div class="row">
  <div class="col-6">
    <bspl-airline
      [airlineVatNumberEnabled]="refundConfiguration.airlineVatNumberEnabled"
      [companyRegistrationNumberEnabled]="refundConfiguration.companyRegistrationNumberEnabled"
      [showAirlineName] = "true"
      [showContact]= "true"
      [disabledContact] = "true"
      [airlineFormModelGroup]="basicInfoRefundFormModel.get('airline')"
      [isoCountryCode]="user.isoc">
    </bspl-airline>
  </div>
  <div class="col-6">
    <bspl-agent
    [agentFormModelGroup]="basicInfoRefundFormModel.get('agent')"
      [agentVatNumberEnabled]="refundConfiguration.agentVatNumberEnabled"
      [companyRegistrationNumberEnabled]="refundConfiguration.companyRegistrationNumberEnabled"
      [showAgentName] = "true"
      [disabledAgentCode] = "true"
      [showContact]= "true"
      [showMoreDetails] = "false"
      [agentCode] = "user.iataCode">
    </bspl-agent>
  </div>
</div>
