<div class="tab-content-header">
  <div class="title" l10nTranslate>
    <span class="color-bullet"></span> ADM_ACM.MULTITABS.files
  </div>

  <div class="subtitle" l10nTranslate>
    ADM_ACM.MULTITABS.files_subtitle
  </div>
</div> 
  
<div class='files-component'>
  <div class="files-container">
    <p-scrollPanel [style]="{width: '100%', height: '244px'}" styleClass="custom">
      <div class="file" *ngFor="let file of files">
        {{ file.name }} - {{ file.bytes }}
      </div>
      <div class="file" *ngFor="let file of filesToUpload">
        {{ file.name }} - {{ file.size }}
      </div>
    </p-scrollPanel>
  </div>

  <div class="file-add">
    <div class="title">
      <p l10nTranslate>ADM_ACM.MULTITABS.attach_new_file</p>
    </div>
    <div id="my-id">
      <p-fileUpload
        styleClass="custom"
        auto="true"
        customUpload="true"
        (uploadHandler)="onUploadHandler($event)"
        chooseLabel="Select from your computer">
      </p-fileUpload>
    </div>
  </div>
</div>
