<div class="tab-content-header">
  <div class="title" l10nTranslate>
    <span class="color-bullet"></span> ADM_ACM.MULTITABS.files
  </div>

  <div class="subtitle" l10nTranslate>
    ADM_ACM.MULTITABS.files_subtitle
  </div>
</div> 
  
<div class='files-component'>
  <div class="files-container">
    <p-scrollPanel [style]="{width: '100%', height: '244px'}" styleClass="custom">
      <div class="file" *ngFor="let i of [1,2,3,4,5,6,7,8,9]; let last = last" [ngClass]="{'last': last }">
        file attached succesfully
      </div>
    </p-scrollPanel>
  </div>

  <div class="file-add">
    <div class="title">
      <p l10nTranslate>ADM_ACM.MULTITABS.attach_new_file</p>
    </div>
    <div id="my-id">
      <p-fileUpload
        styleClass="custom"
        chooseLabel="Select for your computer"
        name="demo[]" 
        url="./upload.php"  
        maxFileSize="1000000">
      </p-fileUpload>
    </div>
  </div>
</div>
