.filesFilter {
  display: flex;
  flex-direction: column;
  background: #E5FAF5;
  padding: 30px 20px 30px 20px;
  margin: 15px;
  .expandCollapse {
    display: flex;
    justify-content: flex-end;
    img {
      border: 2px solid black;
      border-radius: 50%;
      padding: 3px;
      width: 20px;
      height: 20px;
      ;
    }
  }
  .filesFiltersInputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
    .filterItem {
      margin: 0px 15px 0px 15px;

    }
  }
  .filesFilterButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    a {
      color: #014E81;
      text-decoration: none;
      a:hover a:visited a:link a:active {
        text-decoration: none;
        color: #014E81;
      }
    }
    app-buttons {
      margin: 25px 5px 25px 25px;
    }
  }

}
