.tooltip-container {
  margin-left: 2px;
}
  
// .input-group-inline {
//   position: relative;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -ms-flex-wrap: wrap;
//   flex-wrap: wrap;
//   -webkit-box-align: stretch;
//   -ms-flex-align: stretch;
//   align-items: stretch;
//   width: 100%;

//   input {
//     position: relative;
//     -webkit-box-flex: 1;
//     -ms-flex: 1 1 auto;
//     flex: 1 1 auto;
//     width: 1%;
//     margin-bottom: 0;
//   }
// }

.error {
  border-color: red !important;
}

.resizeCategory{
  width: 73px !important;
  min-width: 73px;
}