<header>
  <nav class="lvl1">
           <img src="../assets/images/toplogo.png" alt=""> New BSPLink
           <div class="principal-nav">
               <div class="principal-buttons">
                   <div class="button">
                       <img src="../../../../assets/images/glyph/svg/si-glyph-customer-support.svg">
                       <a href="">Support</a>
                   </div>

                   <div class="button">
                       <img src="../../../../assets/images/glyph/svg/si-glyph-circle-help.svg">
                       <a href="">Help</a>
                   </div>

                   <div class="button">
                       <img src="../../../../assets/images/glyph/svg/si-glyph-button-buy.svg">
                       <a href="">Shop</a>
                   </div>
               </div>

               <div class="user">
                   <p>8120196 LAURA MARTÍNEZ</p>
                   <p>VIAJES EL CORTE INGLÉS</p>
               </div>



               <div class="country">
                   <p>Spain</p>
               </div>
               <div class="user-account">
                   <img src="../../../../assets/images/glyph/svg/si-glyph-person-people.svg" alt="">
                   <p>Laura Martínez</p>
               </div>
               <div class="notifications">
                   <img src="../../../../assets/images/glyph/svg/si-glyph-bubble-message-dot-2.svg" alt="">
               </div>
           </div>
       </nav>
       <nav class="lvl2">
         <menu></menu>
     </nav>
     </header>


