<div class="navigation">
  <div class="left-side">
    <div class="logo">
      <img class="header-logo" src="../assets/images/ico_iata.svg">
    </div>

    <div class="brand">
      <span><b>BSP<i>link</i></b></span>
    </div>

    <div class="combos">
      <select class="special-selector">
        <option value="1" selected>Global</option>
      </select>
      <select class="special-selector">
        <option value="1" selected>World Wide Travel One 33212345</option>
      </select>
    </div>

    <div class="actions">
      <div class="single-action">
        <img src="../assets/images/header/ico-support.svg">
        <div l10nTranslate>support</div>
      </div>
      <div class="single-action">
        <img src="../assets/images/header/ico-resources.svg">
        <div l10nTranslate>resource</div>
      </div>
      <div class="single-action">
        <img src="../assets/images/header/ico-shop.svg">
        <div l10nTranslate>shop</div>
      </div>
      <div class="single-action">
        <img src="../assets/images/header/ico-help.svg">
        <div l10nTranslate>help</div>
      </div>
    </div>
  </div>

  <div class="divisor"></div>

  <div class="right-side">
    <div class="notification">
      <img class="img" src="../assets/images/header/ico-notifications.svg">
      <span class='badge'>5</span>
      <div l10nTranslate>notifications</div>
    </div>
    <div class="user-icon">
      <img src="../assets/images/header/ico-user.svg">
    </div>
    <div class="user">
      Hello User
      <i class="fa fa-angle-down"></i>
    </div>
  </div>

</div>

<div class="clear"></div>

<app-menu></app-menu>
