.navigation {
    display: inline-flex;
    width: 100%;
    
    .left-side {
        margin: 25px 0;
        float: left;
        display: flex;
        width: 80%;
        padding: 0 20px;
        align-items: center;
        
        .logo { 
            width: auto;
            .header-logo {
                height: 45px;
                width: auto;
            }
        }

        .brand {
            width: 7%;
            font-size: 22px;
            color: #033E78;
        }
        
        .combos {
            width: 60%;
            .special-selector {
                padding: 3px 14px;
                border: 1px solid #022F5B;
                border-radius: 15px;
                background-color: #FFFFFF;
                color: #022F5B;
                font-size: 14px;
                line-height: 16px;
            }
        }
        
        .actions {
            width: 25%;
            .single-action {
                float: left;
                padding: 0 8px;
            }
        }
    }

    .divisor {
        width: 4px;
        float: left;
        background-color: #C6C6C6;
    }

    .right-side {
        margin: 25px 0;
        width: auto;
        padding: 0 20px;
        float: left;
    }
}

.clear {
    clear: both;
}