.navigation {
    display: inline-flex;
    width: 100%;

    .left-side {
        margin: 25px 0;
        float: left;
        display: flex;
        width: 80%;
        padding: 0 20px;
        align-items: center;

        .logo {
            width: 5%;
            margin-right: 20px;
            .header-logo {
                height: 45px;
                width: auto;
            }
        }

        .brand {
            width: 10%;
            font-size: 22px;
            color: #033E78;
        }

        .combos {
            width: 55%;
            .special-selector {
                padding: 3px 14px;
                border: 1px solid #022F5B;
                border-radius: 15px;
                background-color: #FFFFFF;
                color: #022F5B;
                font-size: 14px;
                line-height: 16px;
            }
        }

        .actions {
            width: 30%;
            .single-action {
                text-align: center;
                float: left;
                padding: 0 8px;
            }
        }
    }

    .divisor {
        width: 4px;
        float: left;
        background-color: #C6C6C6;
    }

    .right-side {
        margin: 25px 0;
        width: auto;
        display: flex;
        padding: 0 20px;
        float: left;
        align-items: center;

        .notification {
            padding: 0 10px;
            text-align: center;
            float: left;
            position: relative;

            .badge {
                position: absolute;
                padding: 1px 4px;
                top: -5px;
                background: #E72017;
                color: white;
                text-align: center;
                border-radius: 50%;
                font-size: 9px;
                right: 35px;
            }
        }

        .user-icon {
            padding: 0 10px;

        }

        .user {
            float: left;
            padding: 0 10px;
        }
    }
}

.clear {
    clear: both;
}
