<form *ngIf="reactiveFormReady()" [formGroup]="inputForm">

  <label class="text-nowrap" for="detailed_reasons">
    <span class="label-text mr-3" l10nTranslate>
      {{textAreaTitle}}
    </span>
    <span class="mt-1" *ngIf="checkIfErrorExist()">
      <bspl-field-error [errors]="formControlParent.errors"></bspl-field-error>
    </span>
  </label>
  
  <textarea id="detailed_reasons" rows="4" class="form-control" [ngClass]="{'error': checkIfErrorExist() }" type="text" [formControlName]="INPUT_FORM_CONTROL_NAME">
  </textarea>
</form>
