<div class="resume-amount">
  <label> {{subType}} </label>
  <label l10nTranslate *ngIf="isADM" >ADM_ACM.AMOUNT.adm_amount</label>
  <label l10nTranslate *ngIf="!isADM">ADM_ACM.AMOUNT.acm_amount</label>
  <span>{{total | decimalsFormatter:decimals }}</span>
  <span>{{ currency }}</span>
</div>

<div *ngIf="checkSimpleView()">
  <div class="form-entry">
    <label l10nTranslate>ADM_ACM.AMOUNT.fare</label>
    <div class="input-content">
      <input class='input-custom-number amount-table'
        type='text' 
        [(ngModel)]="total" 
        decimalsFormatterDirective 
        [decimals]="decimals"
        (blur)="simpleCalculateFare()"/>
    </div>
  </div>
</div>

<div *ngIf="!checkSimpleView()">
  <div class="table-container">
    <table class="table-amount">
      <thead>
        <tr>
          <th></th>
          <th l10nTranslate>ADM_ACM.AMOUNT.agentInput</th>
          <th l10nTranslate>ADM_ACM.AMOUNT.airlineInput</th>
          <th l10nTranslate>ADM_ACM.AMOUNT.difference</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="title" l10nTranslate>ADM_ACM.AMOUNT.fare</td>
          <td>
            <input class='input-custom-number amount-table'
              type="text"
              [(ngModel)]="agentCalculations.fare"
              decimalsFormatterDirective
              [decimals]="decimals"
              (blur)="calculateTotalOnAmount()"/>
          </td>
          <td>
            <input class='input-custom-number amount-table'
              type='text'
              [(ngModel)]="airlineCalculations.fare"
              decimalsFormatterDirective
              [decimals]="decimals"
              (blur)="calculateTotalOnAmount()"/>
          </td>
          <td>
            <input class='input-custom-number amount-table'
              type='text'
              [value]="totalCalculations.fare | abs | decimalsFormatter:decimals"
              readonly="true"/>
          </td>
        </tr>
        <tr>
          <td class="title" l10nTranslate>ADM_ACM.AMOUNT.tfc
            <img class="tooltip"
              src="assets/images/utils/ico_tooltip.svg"
              alt="alternative text"
              [title]="translation.translate('ADM_ACM.AMOUNT.tfc_toggle')"/>
          </td>
          <td>
            <input class='input-custom-number amount-table'
              type='text'
              [(ngModel)]="agentCalculations.tax"
              decimalsFormatterDirective
              [decimals]="decimals"
              (blur)="calculateTotalOnAmount()"
            />
          </td>
          <td>
            <input class='input-custom-number amount-table'
              type='text'
              [(ngModel)]="airlineCalculations.tax"
              decimalsFormatterDirective
              [decimals]="decimals"
              (blur)="calculateTotalOnAmount()"/>
          </td>
          <td>
            <input class='input-custom-number amount-table'
              type='text'
              [value]="totalCalculations.tax | abs | decimalsFormatter:decimals"
              readonly="true"/>
          </td>
        </tr>
        <tr>
          <td class="title" l10nTranslate>ADM_ACM.AMOUNT.comission</td>
          <td>
            <input class='input-custom-number amount-table'
              type='text'
              [(ngModel)]="agentCalculations.commission"
              decimalsFormatterDirective
              [decimals]="decimals"
              (blur)="calculateTotalOnAmount()"/>
          </td>
          <td>
            <input class='input-custom-number amount-table'
              type='text'
              [(ngModel)]="airlineCalculations.commission"
              decimalsFormatterDirective
              [decimals]="decimals"
              (blur)="calculateTotalOnAmount()"/>
          </td>
          <td>
            <input class='input-custom-number amount-table'
              type='text'
              [value]="totalCalculations.commission | abs | decimalsFormatter:decimals"
              readonly="true"/>
          </td>
        </tr>
        <tr *ngIf="showSpam">
          <td class="title" l10nTranslate>ADM_ACM.AMOUNT.spam</td>
          <td>
            <input class='input-custom-number amount-table'
              type='text'
              [(ngModel)]="agentCalculations.spam"
              decimalsFormatterDirective
              [decimals]="decimals"
              (blur)="calculateTotalOnAmount()"/>
          </td>
          <td>
            <input class='input-custom-number amount-table'
              type='text'
              [(ngModel)]="airlineCalculations.spam"
              decimalsFormatterDirective
              [decimals]="decimals"
              (blur)="calculateTotalOnAmount()"/>
          </td>
          <td>
            <input class='input-custom-number amount-table'
              type='text'
              [value]="totalCalculations.spam | abs | decimalsFormatter:decimals"
              readonly="true"/>
          </td>
        </tr>
        <tr *ngIf="showTOCA">
          <td class="title" l10nTranslate>ADM_ACM.AMOUNT.toca</td>
          <td>
            <input class='input-custom-number amount-table'
              type='text'
              [(ngModel)]="agentCalculations.taxOnCommission"
              decimalsFormatterDirective
              [decimals]="decimals"
              (blur)="calculateTotalOnAmount()"/>
          </td>
          <td>
            <input class='input-custom-number amount-table'
              type='text'
              [(ngModel)]="airlineCalculations.taxOnCommission"
              decimalsFormatterDirective
              [decimals]="decimals"
              (blur)="calculateTotalOnAmount()"/>
          </td>
          <td>
            <input class='input-custom-number amount-table'
              type='text'
              [value]="totalCalculations.taxOnCommission | abs | decimalsFormatter:decimals"
              readonly="true"/>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td l10nTranslate>total </td>
          <td class="isNumber"> {{totalAmount.agentValue | abs | decimalsFormatter:decimals}} {{ currency }}</td>
          <td class="isNumber"> {{totalAmount.airlineValue | abs  | decimalsFormatter:decimals}} {{ currency }}</td>
          <td class="isNumber"> {{totalAmount.dif | decimalsFormatter:decimals}} {{ currency }}</td>
        </tr>
      </tfoot>
    </table>
  </div>

  <div class="table-container">
    <table class="table-amount">
      <thead>
        <tr>
          <th l10nTranslate>ADM_ACM.AMOUNT.taxcode</th>
          <th l10nTranslate>ADM_ACM.AMOUNT.agentInput</th>
          <th l10nTranslate>ADM_ACM.AMOUNT.airlineInput</th>
          <th l10nTranslate>ADM_ACM.AMOUNT.difference</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of taxes; let i=index" >
          <td>
            <input class='input-custom'
              [(ngModel)]="item.name"
              maxlength="8"
              (change)="validateName(i)"/>
          </td>
          <td>
            <input class='input-custom-number amount-table'
              type='text'
              [(ngModel)]="item.agentValue"
              decimalsFormatterDirective
              [decimals]="decimals"
              (change)="calculateOnTax()"/>
          </td>
          <td>
            <input class='input-custom-number amount-table'
              type='text'
              [(ngModel)]="item.airlineValue"
              decimalsFormatterDirective
              [decimals]="decimals"
              (change)="calculateOnTax()"/>
          </td>
          <td>
            <input class='input-custom-number-float-left amount-table'
              type='text'
              [value]="item.dif | abs | decimalsFormatter:decimals"
              readonly="true"/>

            <button class="button-bin-float-right" (click)="removeTax(i)">
              <i class="fa fa-trash-o fa-lg"></i>
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4">
            <!-- TODO: cambiar la forma de hacer flotantes los divs -->
            <div class="float-left">
              <button l10nTranslate class="button-add"
                (click)="addTax()">
                  <span class="small-font-awesome fa-stack">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-plus inverse-color fa-stack-1x"></i>
                  </span>
                  ADM_ACM.AMOUNT.addTax
              </button>
            </div>

            <div class="float-right">

              <button l10nTranslate
                  class="button-default"
                  (click)="clean()">
                clear
              </button>

              <button l10nTranslate
                  class="button-primary"
                  (click)="populate()"
                  [disabled]="true">
                  ADM_ACM.AMOUNT.populate
              </button>
            </div>

          </td>
        </tr>
      </tfoot>
    </table>

  </div>

</div>
