<div class="form-row" *ngIf="!checkHorizontalAlignment()">
  <div class="form-group col-6">
    <bspl-reasons-selector [dropdownTitle]='dropdownTitle' [dropdownOptions]='reasonsSelectOptions' (changeSelect)="onSelectorChange($event)">
    </bspl-reasons-selector>
  </div>
</div>

<div class="form-row" *ngIf="!checkHorizontalAlignment()">
  <div class="form-group col-10">
    <bspl-reasons-text-area [formGroupParent]="formGroupParent" [formControlParentName]="formControlParentName" [textAreaTitle]='textAreaTitle' [textAreaContent]="reasonsDetails" (returnForm)="onReturnForm($event)">
    </bspl-reasons-text-area>
  </div>
</div>

<div class="form-row" *ngIf="checkHorizontalAlignment()">
  <div class="col-6">
    <div class="form-group col-6 pl-0 pr-0">
      <bspl-reasons-selector [dropdownTitle]='dropdownTitle' [dropdownOptions]='reasonsSelectOptions' (changeSelect)="onSelectorChange($event)">
      </bspl-reasons-selector>
    </div>
  </div>
  <div class="col-6">
    <div class="form-group col-12 col-xl-7 pl-0 pr-0">
      <bspl-reasons-text-area [formGroupParent]="formGroupParent" [formControlParentName]="formControlParentName" [textAreaTitle]='textAreaTitle' [textAreaContent]="reasonsDetails" (returnForm)="onReturnForm($event)">
      </bspl-reasons-text-area>
    </div>
  </div>
</div>
