$theme-color: #55AD58;

.tab-content-header {
  padding: 21px;
  font-size: 20px;
  line-height: 24px;
  color: #002A51;

  .color-bullet {
    height: 18px;
    border-left: 6px solid $theme-color;
    border-right: 6px solid $theme-color;
    margin-right: 3px;
  }
}

.documents-component {
  text-align: center;

  .title {
    span {
      height: 16px;
      width: 119px;
      color: #152C5A;
      font-size: 14px;
      font-weight: bold;
      line-height: 16px;
      text-align: center;
    }
    
    border-bottom: 2px solid $theme-color;
  }

  .table-amount {
    border-collapse: collapse;
    width: 100%;
    margin: 32px 0;

    tbody {
      tr {
        background-color: #F2F2F2;

        td:first-child {
          border-left: 1px solid #BDC3C9;;
        }

        td:last-child {
          margin-right: -1px;
          border-right: 1px solid #BDC3C9;;
        }

      }

      tr:nth-child(2n) {
        background-color: #FFFFFF;
      }

      td {
        padding: 17px 21px;
      }
    }
  }
}
