<nav class="navbar navbar-expand-lg navbar-light navigation">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">

      <!-- ADM/ACM -->
      <li class="nav-item dropdown">

        <a class="nav-link dropdown-toggle" id="adm-acm-dropdowm" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ADM/ACM</a>

        <div class="dropdown-menu" aria-labelledby="adm-acm-dropdowm">
          <a class="dropdown-item" [routerLink]="routes.ADM_ISSUE.URL" l10nTranslate>ADM_ACM.ADMTitle</a>
          <a class="dropdown-item" [routerLink]="routes.ACM_ISSUE.URL" l10nTranslate>ADM_ACM.ACMTitle</a>

        </div>

      </li>

      <!-- REFUNDS -->
      <li class="nav-item">

        <a class="nav-link" [routerLink]="routes.REFUNDS.URL" l10nTranslate>REFUNDS.REFUNDTITLE</a>

      </li>

      <!-- REPORTS -->
      <li class="nav-item dropdown">

        <a class="nav-link dropdown-toggle" id="reportsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          REPORTS
        </a>

        <ul class="dropdown-menu multi-level">

          <li class="dropdown-submenu dropright">

            <a class="dropdown-item dropdown-toggle" id="filesDropright" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">FILES</a>

            <ul class="dropdown-menu " aria-labelledby="filesDropright">

              <li>

                <a class="dropdown-item" [routerLink]="routes.QUERY_FILES.URL">Query Files</a>

              </li>

              <li>

                <a class="dropdown-item" [routerLink]="routes.QUERY_FILES_READ_ONLY.URL">Query Files Read Only</a>

              </li>

              <li>

                <a class="dropdown-item" [routerLink]="routes.UPLOAD_FILES.URL">Upload Files</a>

              </li>

            </ul>

          </li>

          <li class="dropdown-submenu">

            <a class="dropdown-item dropdown-toggle" id="sftpDropright" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">SFTP Accounts</a>

            <ul class="dropdown-menu" aria-labelledby="sftpDropright">

              <li>

                <a class="dropdown-item" [routerLink]="routes.CREATE_ACCOUNT.URL">Create Account</a>

              </li>

              <li>

                <a class="dropdown-item" >Modify pass</a> <!-- TODO (click)="sftpModifyPass()" -->

              </li>

            </ul>

          </li>

        </ul>

      </li>

      <!-- TICKETING -->
      <li class="nav-item">

        <a class="nav-link" [routerLink]="routes.TICKETING.URL">TICKETING</a>

      </li>

      <!-- GENERAL INFO -->
      <li class="nav-item">

        <a class="nav-link" [routerLink]="routes.GENERAL_INFO.URL">GENERAL INFO</a>

      </li>

      <!-- SELF SERVICE -->
      <li class="nav-item">

        <a class="nav-link" [routerLink]="routes.SELF_SERVICE.URL">SELF SERVICE</a>

      </li>

      <!-- ADMIN -->
      <li class="nav-item dropdown">

        <a class="nav-link dropdown-toggle" id="admin-dropdowm" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ADMIN</a>

        <div class="dropdown-menu" aria-labelledby="admin-dropdowm">

          <a class="dropdown-item" [routerLink]="routes.MONITOR.URL">MONITOR</a>

        </div>

      </li>

    </ul>

     <form class="form-inline my-2 my-lg-0">

      <div class="input-group btn-search">

        <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">

        <div class="input-group-append">

          <span class="input-group-text  btn-search" id="basic-addon2">

            <i class="fa fa-search" aria-hidden="true"></i>

          </span>

        </div>

      </div>
    </form>

  </div>

</nav>
