<form [formGroup]="amountRefundFormModel.amountRefundGroup">

  <div class="row">
    <div class="col-12">
      <div class="row">
        <!-- PARTIAL REFUND -->
        <div class="col-3 mb-2">
          <div class="row ml-1">
              <label class="custom-checkbox col text-nowrap pr-0 mt-2" l10nTranslate>
                  REFUNDS.AMOUNT.partial_refund
                  <input type="checkbox" formControlName="partialRefund">
                  <span class="checkmark"></span>
                </label>
                <div class="caja-error col pl-1 pr-0" *ngIf="errorPartialRefund">
                  <bspl-field-error [errors]="partialRefund.errors"></bspl-field-error>
                </div>
          </div>
        </div>
        <!-- NET REMIT -->
        <div class="col-3 mb-2" *ngIf="refundConfiguration.nrRefundsAllowed">
          <label class="custom-checkbox text-nowrap mt-2" l10nTranslate>REFUNDS.AMOUNT.net_remit
            <input type="checkbox" formControlName="netRemit">
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
    </div>
  </div>

  <div id="amount-refund" class="row" formGroupName="amounts">
    <div class="col-6">
      <div class="row">
        <!-- GROSS FARE -->
        <div class="col-12 mb-2">
          <div class="row">
            <div class="form-group col-3 pr-1">
              <bspl-input-form-control l10nTranslate [formGroupParent]="amountRefundFormModel.amounts" [formControlParentName]="'grossFare'"
                [wrapText]="true" [type]="'decimal'" [decimalsNumber]="getNumDecimals()" [label]="'REFUNDS.AMOUNT.gross_fare'">
              </bspl-input-form-control>
            </div>
          </div>
        </div>

        <!-- LESS GROSS FARE USED -->
        <div class="col-12 mb-2">
          <div class="row">
            <div class="form-group col-3 pr-1">
              <bspl-input-form-control l10nTranslate [formGroupParent]="amountRefundFormModel.amounts" [formControlParentName]="'lessGrossFareUsed'"
                [wrapText]="true" [type]="'decimal'" [decimalsNumber]="getNumDecimals()" [label]="'REFUNDS.AMOUNT.less_gross_fare_used'">
              </bspl-input-form-control>
            </div>
          </div>
        </div>

        <!-- TOTAL GROSS FARE REFUNDED -->
        <div class="col-12 mb-2">
          <div class="row">
            <div class="form-group col-3 pr-1">
              <bspl-input-form-control l10nTranslate [type]="'decimal'" [decimalsNumber]="getNumDecimals()" [formGroupParent]="amountRefundFormModel.amounts" [formControlParentName]="'totalGrossFareRefunded'"
                [wrapText]="true" [label]="'REFUNDS.AMOUNT.total_gross_fare_refunded'">
              </bspl-input-form-control>
            </div>
          </div>
        </div>

        <!-- SECTION COMMISSION -->
        <div class="col-12 mb-2">
          <div class="row">
            <div class="form-group col-2 pr-1">
              <label class="text-nowrap" l10nTranslate>REFUNDS.AMOUNT.commission</label>
              <div class="input-group pt-1">
                <div class="custom-radio">
                  <input id="radio_percent" type="radio" value="false" [checked]="false" formControlName="radioCommission">
                  <label for="radio_percent" class="text-nowrap" l10nTranslate>
                    <span></span>REFUNDS.AMOUNT.percent</label>
                </div>
              </div>
            </div>

            <div class="form-group col-3 pr-1 pl-1">

              <bspl-input-form-control l10nTranslate [formGroupParent]="amountRefundFormModel.amounts" [formControlParentName]="'commissionRate'"
                [wrapText]="true" [type]="'regex'" [typingPattern]="'^[.0-9]*$'" [inputMaxTextLength]="5" [label]="'&nbsp;'">
              </bspl-input-form-control>



            </div>

            <div class="form-group col-3 pr-1">
              <label>&nbsp;</label>
              <div class="input-group pt-1">
                <div class="custom-radio">
                  <input id="radio_amount" type="radio" value="true" formControlName="radioCommission" [checked]="true">
                  <label for="radio_amount" class="text-nowrap" l10nTranslate>
                    <span></span>REFUNDS.AMOUNT.title</label>
                </div>
              </div>
            </div>

            <div class="form-group col-3 pr-1 pl-1">

              <bspl-input-form-control l10nTranslate [formGroupParent]="amountRefundFormModel.amounts" [formControlParentName]="'commissionAmount'"
                [wrapText]="true" [type]="'decimal'" [decimalsNumber]="getNumDecimals()" [label]="'&nbsp;'">
              </bspl-input-form-control>
            </div>

          </div>
        </div>

        <!-- SECTION DISCOUNT AMOUNT -->
        <div class="col-12 mb-2" *ngIf="refundConfiguration.nrRefundsAllowed">
          <div class="row">
            <div class="form-group col-3 pr-1">
              <bspl-input-form-control l10nTranslate [formGroupParent]="amountRefundFormModel.amounts" [formControlParentName]="'spam'"
                [wrapText]="true" [type]="'decimal'" [decimalsNumber]="getNumDecimals()" [label]="'REFUNDS.AMOUNT.discountAmount'">
              </bspl-input-form-control>
            </div>
          </div>
        </div>

        <!-- SECTION TAXES -->
        <div class="col-12 mb-2">
          <div class="row">
            <div class="form-group col-3 pr-1">
              <label class="text-nowrap" l10nTranslate>REFUNDS.AMOUNT.total_taxes</label>
              <input class="form-control" disabled="true" [value]="this.amountRefundFormModel.amounts.get('tax').value | decimalsFormatter:getNumDecimals()">
            </div>
          </div>
        </div>



        <!-- Array TAXES -->
        <div class="col-12 mb-2">
          <div class="row" *ngFor="let tax of amountRefundFormModel.getTaxMiscellaneousFees(); let i = index;">

            <div class="form-group col-3 pr-1">


              <bspl-input-form-control l10nTranslate [formGroupParent]="amountRefundFormModel.getTaxMiscellaneousFees(i)" [formControlParentName]="'type'"
                [wrapText]="true" [type]="'regex'" [typingPattern]="'^[a-zA-Z0-9]*$'" [inputMaxTextLength]="8" [label]="'REFUNDS.AMOUNT.taxes'">
              </bspl-input-form-control>

            </div>

            <div class="form-group col-3 pr-1">

              <bspl-input-form-control l10nTranslate [formGroupParent]="amountRefundFormModel.getTaxMiscellaneousFees(i)" [formControlParentName]="'amount'"
                [wrapText]="true" [type]="'decimal'" [decimalsNumber]="getNumDecimals()" [label]="'&nbsp;'">
              </bspl-input-form-control>
            </div>

            <!-- BUTTON REMOVE -->
            <div class="form-group col-3 col-xl-3 m-0 pr-0 pl-5 centered">
              <label>&nbsp;</label>
              <input class="form-group form-control-plaintext ico-trash-container" readonly="" type="text" (click)="amountRefundFormModel.removeTaxes(i)">
            </div>

          </div>
        </div>




        <div class="col-12 mb-2">
          <div class="row">

            <div class="form-group col-3 pr-1">


              <bspl-input-form-control l10nTranslate [formGroupParent]="amountRefundFormModel.amounts" [formControlParentName]="'amountType'"
                [wrapText]="true" [type]="'regex'" [typingPattern]="'^[a-zA-Z0-9]*$'" [inputMaxTextLength]="8" [label]="'REFUNDS.AMOUNT.taxes'">
              </bspl-input-form-control>

            </div>

            <div class="form-group col-3 pr-1">

              <bspl-input-form-control l10nTranslate [formGroupParent]="amountRefundFormModel.amounts" [formControlParentName]="'amountTax'"
                [wrapText]="true" [type]="'decimal'" [decimalsNumber]="getNumDecimals()" [label]="'&nbsp;'">
              </bspl-input-form-control>
            </div>

            <div class="form-group col-3 pr-1">
              <label>&nbsp;</label>
              <button class="form-control btn btn-primary btn-blue" l10nTranslate (click)="amountRefundFormModel.addTaxes()">
                <i class="fa fa-plus-circle"></i> REFUNDS.AMOUNT.tax
              </button>
            </div>

          </div>
        </div>

      </div>
    </div>

    <div class="col-6">
      <div class="row">
        <!-- SECTION CANCELATION PENALTY-->
        <div class="col-12 mb-2">
          <div class="row">
            <div class="form-group col-3 pr-1">
              <bspl-input-form-control l10nTranslate [formGroupParent]="amountRefundFormModel.amounts" [formControlParentName]="'cancellationPenalty'"
                [wrapText]="true" [type]="'decimal'" [decimalsNumber]="getNumDecimals()" [inputMaxTextLength]="11" [label]="'REFUNDS.AMOUNT.cancellationPenalty'">
              </bspl-input-form-control>
            </div>
          </div>
        </div>

        <!-- TAX ON CANCELATION PENALTY-->
        <div class="col-12 mb-2">
          <div class="row">
            <div class="form-group col-3 pr-1">
              <bspl-input-form-control l10nTranslate [formGroupParent]="amountRefundFormModel.amounts" [formControlParentName]="'taxOnCancellationPenalty'"
                [wrapText]="true" [type]="'decimal'" [decimalsNumber]="getNumDecimals()" [inputMaxTextLength]="11" [label]="'REFUNDS.AMOUNT.taxCP'">
              </bspl-input-form-control>
            </div>
          </div>
        </div>

        <!-- SECTION MISCELLANEOUS FEE -->
        <div class="col-12 mb-2">
          <div class="row">
            <div class="form-group col-3 pr-1">
              <bspl-input-form-control l10nTranslate [formGroupParent]="amountRefundFormModel.amounts" [formControlParentName]="'miscellaneousFee'"
                [wrapText]="true" [type]="'decimal'" [decimalsNumber]="getNumDecimals()" [inputMaxTextLength]="11" [label]="'REFUNDS.AMOUNT.miscFee'">
              </bspl-input-form-control>
            </div>
          </div>
        </div>

        <!-- TAX ON MISCELLANEOUS FEE -->
        <div class="col-12 mb-2">
          <div class="row">
            <div class="form-group col-3 pr-1">
              <bspl-input-form-control l10nTranslate [formGroupParent]="amountRefundFormModel.amounts" [formControlParentName]="'taxOnMiscellaneousFee'"
                [wrapText]="true" [type]="'decimal'" [decimalsNumber]="getNumDecimals()" [inputMaxTextLength]="11" [label]="'REFUNDS.AMOUNT.taxMF'">
              </bspl-input-form-control>
            </div>
          </div>
        </div>

        <!-- SECTION TOTAL COMMISSION ON CP AND MF-->
        <div class="col-12 mb-2">
          <div class="row">
            <div class="form-group col-2 pr-1">
              <label class="text-nowrap" l10nTranslate>REFUNDS.AMOUNT.totalCommissionCPMF</label>
              <div class="input-group pt-1">
                <div class="custom-radio">
                  <input id="radio_percent_CPMF" type="radio" value="false" [checked]="false" formControlName="radioCpAndMfCommission">
                  <label for="radio_percent_CPMF" class="text-nowrap" l10nTranslate>
                    <span></span>REFUNDS.AMOUNT.percent</label>
                </div>
              </div>

            </div>

            <div class="form-group col-3 pr-1 pl-1">

              <bspl-input-form-control l10nTranslate [formGroupParent]="amountRefundFormModel.amounts" [formControlParentName]="'commissionOnCpAndMfRate'"
                [wrapText]="true" [label]="'&nbsp;'" [type]="'regex'" [typingPattern]="'^[.0-9]*$'" [inputMaxTextLength]="5">
              </bspl-input-form-control>
            </div>


            <div class="form-group col-3 pr-1">
              <label>&nbsp;</label>
              <div class="input-group pt-1">
                <div class="custom-radio">
                  <input id="radio_amount_CPMF" name="" type="radio" value="true" [checked]="true" formControlName="radioCpAndMfCommission">
                  <label for="radio_amount_CPMF" class="text-nowrap" l10nTranslate>
                    <span></span>REFUNDS.AMOUNT.title</label>
                </div>
              </div>
            </div>

            <div class="form-group col-3 pr-1 pl-1">

              <bspl-input-form-control l10nTranslate [formGroupParent]="amountRefundFormModel.amounts" [formControlParentName]="'commissionOnCpAndMfAmount'"
                [wrapText]="true" [type]="'decimal'" [decimalsNumber]="getNumDecimals()" [label]="'&nbsp;'">
              </bspl-input-form-control>
            </div>

          </div>
        </div>

      </div>
    </div>

    <div class="col-12">
      <div class="row">
        <!-- REFUND TO PASSENGER -->
        <div class="col-6 mb-2">
          <div class="row">
            <div class="form-group col-6 pr-1">
              <!-- <bspl-input-form-control l10nTranslate [type]="'decimal'" [decimalsNumber]="getNumDecimals()" [formGroupParent]="amountRefundFormModel.amounts" [formControlParentName]="'refundToPassenger'"
                [wrapText]="true" [label]="'REFUNDS.AMOUNT.refund_to_passenger'">
              </bspl-input-form-control> -->
              <label class="text-nowrap" l10nTranslate>REFUNDS.AMOUNT.refund_to_passenger</label>
              <input class="form-control" disabled="true" [value]="this.amountRefundFormModel.amounts.get('refundToPassenger').value | decimalsFormatter:getNumDecimals()">
            </div>


          </div>
        </div>
      </div>
    </div>

  </div>
</form>
