$left-side: 79.63%;
$space: 1.09%;
$right-side: 18.1%;

.container {
  padding: 20px;
}

%sticky {
  position: fixed;
  z-index: 21000;
}

.hidden-box {
  min-height: 114px;
}

%resume-bar-id {
  @extend %sticky;
  top: 0;
  left: 0px;
  right: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-top: 0;
  margin-right: 20px;
  margin-left: 20px;
  background-color: #FFFFFF;
  width: auto;
}

#resume-bar-ADM-create.sticky,
#resume-bar-ADM-detail.sticky,
#resume-bar-ACM-create.sticky,
#resume-bar-ACM-detail.sticky {
  @extend %resume-bar-id;
}

%tabs-container-id {
  @extend %sticky;
  top: 150px;
  right: 0px;
  left: 81%;
  margin-right: 40px;
  width: auto;
}

#tabs-container-ADM-create.sticky,
#tabs-container-ADM-detail.sticky,
#tabs-container-ACM-create.sticky,
#tabs-container-ACM-detail.sticky {
  @extend %tabs-container-id;
}

%link-bar-container-id {
  @extend %sticky;
  top: 90px;
  left: 0px;
  right: 22.3%;
  padding-left: 20px;
  margin-top: 0;
  padding-top: 10px;
  width: auto;
}

#link-bar-ADM-create.sticky,
#link-bar-ADM-detail.sticky,
#link-bar-ACM-create.sticky,
#link-bar-ACM-detail.sticky {
  @extend %link-bar-container-id;
}

.table-custom {
  margin-top: 20px;
  width: 100%;
  display: flex;

  .tr {
    width: 100%;
  }

  .td {
    float: left;
  }
}

.left-side {
  width: $left-side;
  margin-right: $space;
}

.right-side {
  width: $right-side;
  margin-left: $space;
}

.resume-bar-table {
  background-color: #1989CF;
  border-radius: 10px;
  border: 1px solid #1989CF;
  color: #FFFFFF;
  display: flex;
  width: 100%;
  margin-bottom: 21px;

  .resume-info {
    margin-right: auto;
  }

  .buttons-resume {
    margin: auto 0;
    margin-right: 20px;
    float: right;
  }
}

.link-bar {
  min-height: 30px;
  height: auto;
  background-color: #FFFFFF;
  padding-right: 20.5%;

  .pills-links {
    float: left;
    margin-top: 4px;
  }

  .toggle-collapsables {
    float: right;
  }
}

%pill {
  cursor: pointer;
  min-width: 123px;
  color: #1989CF;
  border: solid 1px #1989CF;
  background-color: #FFFFFF;
  vertical-align: middle;
  font-size: 14px;
  line-height: 16px;
  padding: 4px 4px;
  border-radius: 0;
  margin-left: -3px;
  margin-right: -3px;
}

%pill.active {
  background-color: #1989CF;
  color: #FFFFFF;
}

%pill:focus{
  outline: none;
}

.pills-links {
  .pill {
    @extend %pill;
  }

  .pill-first {
    @extend %pill;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    margin-left: 0;
  }

  .pill-last {
    @extend %pill;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    margin-right: 0;
  }
}

div.comments-component-wrapper {
  text-align: center;
  height: 100%;
  width: 100%;
}

.ui-dialog.ui-widget .ui-dialog-titlebar {
  background: white;
  display: flex;
}
