<div class="container">

  <div [id]="resume_bar" [ngClass]="{'sticky': isSticky}">
    <div class="resume-bar-table">
      <app-resume-bar class="resume-info"></app-resume-bar>
      <div class="buttons-resume">
        <button l10nTranslate
            class="button-default"
            disabled="true">
          save
        </button>
        <button l10nTranslate
            class="button-primary"
            (click)="issueACDM()">
          issue
        </button>
      </div>
    </div>

    <div [id]="link_bar" class="link-bar">
      <div class="pills-links"> <!-- TODO Pills -->
        <button class="pill-first"
          (click)="scrollTo('basicInfo')" 
          [ngClass]="{'active': checkPillSelected('basicInfo')}"
           l10nTranslate>ADM_ACM.BASIC_INFO.title</button>
        <button class="pill"
          (click)="scrollTo('amount')" 
          [ngClass]="{'active': checkPillSelected('amount')}"
          l10nTranslate>ADM_ACM.AMOUNT.title</button>
        <button class="pill-last" 
          (click)="scrollTo('details')" 
          [ngClass]="{'active': checkPillSelected('details')}"
          l10nTranslate>ADM_ACM.DETAILS.title</button>
      </div>
      <div class="toggle-collapsables">
        <button class="button-switch-pill"
            (click)="clickCollapse()">
          <span class="fa-stack icon-fa-custom">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i [ngClass]="{'fa-angle-down': checkAllCollapsed(), 'fa-angle-up': !checkAllCollapsed()}" class="fa fa-stack-1x"></i>
          </span>
          <span class="button-title" *ngIf="checkAllCollapsed()" l10nTranslate> ADM_ACM.expand </span>
          <span class="button-title" *ngIf="!checkAllCollapsed()" l10nTranslate> ADM_ACM.collapse </span>
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="isSticky" class="hidden-box"></div>

  <div class="table-custom">
    <div class="tr">
      <div class="td left-side"> <!-- todos los divs -->

        <div-collapsable [id]="collapsable_basic_info" [title]="'ADM_ACM.BASIC_INFO.title'" 
          (showHide)="collapseBasicInfo = $event" 
          [open]="collapseBasicInfo" >
          <app-basic-info [isADM]="isAdm"></app-basic-info>
        </div-collapsable>

        <div-collapsable [id]="collapsable_amount" [title]="'ADM_ACM.AMOUNT.title'" 
          (showHide)="collapseAmount = $event" 
          [open]="collapseAmount">
          <app-amount [isADM]="isAdm" ></app-amount>
        </div-collapsable>

        <div-collapsable [id]="collapsable_details" [title]="'ADM_ACM.DETAILS.title'" 
          (showHide)="collapseDetail = $event" 
          [open]="collapseDetail">
          <app-details></app-details>
        </div-collapsable>

      </div>
      <div class="td right-side"> <!-- multitabs -->
        <app-multitabs [modelView]="modelView" [id]="tabs_container" [ngClass]="{'sticky': isSticky}"></app-multitabs>
      </div>
    </div>
  </div>
  <!-- [contentStyle]="{bottom:0, left:0, display:fixed}" -->
  <p-dialog
      styleClass="custom"
      [(visible)]="display"
      [modal]="true"
      [responsive]="true"
      [minWidth]="200"
      [minY]="70"
      (onHide)="hide()"
      >
    <app-document-pop-up></app-document-pop-up>
  </p-dialog>
  <!-- [closable]="false"
  [showHeader]="false" -->
</div>
