<div class="container">

  <div [id]="resume_bar" [ngClass]="{'sticky': isSticky}" class="table-custom">
    <div class="resume-bar-table">
      <app-resume-bar class="resume-info"></app-resume-bar>
      <div class="buttons-resume">
        <jqxButton
          [theme]="'default'"
          [width]="80">Save</jqxButton>
        <jqxButton
          [theme]="'primary'"
          [width]="80">Issue</jqxButton>
      </div>
    </div>
  </div>

  <div class="table-custom">
    <div class="tr">
      <div class="td left-side"> <!-- todos los divs -->
        <div [id]="link_bar" [ngClass]="{'sticky': isSticky}" class="link-bar">
          <div class="pills-links"> <!-- TODO Pills -->
            <a (click)="scrollTo('basicInfo')" class="pill-first" l10nTranslate>ADM_ACM.BASIC_INFO.title</a>
            <a (click)="scrollTo('amount')" class="pill" l10nTranslate>ADM_ACM.AMOUNT.title</a>
            <a (click)="scrollTo('details')" class="pill-last" l10nTranslate>ADM_ACM.DETAILS.title</a>
          </div>
          <div class="toggle-collapsables">
            <jqxButton
              (click)="clickCollapse()"
              [theme]="'switch-pill'"
              [height]="26">
              <span class="fa-stack icon-fa-custom">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i [ngClass]="{'fa-angle-down': collapseAll, 'fa-angle-up': !collapseAll}" class="fa fa-stack-1x"></i>
              </span>
              <span *ngIf="!collapseAll" l10nTranslate> ADM_ACM.expand </span>
              <span *ngIf="collapseAll" l10nTranslate> ADM_ACM.collapse </span>
            </jqxButton>
          </div>
        </div>
        <div-collapsable id="basicInfo" [title]="'ADM_ACM.BASIC_INFO.title'" [open]="collapseBasicInfo" >
          <app-basic-info [isADM]="isAdm"></app-basic-info>
        </div-collapsable>

        <div-collapsable id="amount" [title]="'ADM_ACM.AMOUNT.title'" [open]="collapseAmount">
          <app-amount [isADM]="isAdm" ></app-amount>
        </div-collapsable>

        <div-collapsable id="details" [title]="'ADM_ACM.DETAILS.title'" [open]="collapseDetail">
          <app-details></app-details>
        </div-collapsable>

      </div>
      <div class="td right-side"> <!-- multitabs -->
        <app-multitabs [id]="tabs_container" [ngClass]="{'sticky': isSticky}"></app-multitabs>
      </div>
    </div>
  </div>
  <!-- [contentStyle]="{bottom:0, left:0, display:fixed}" -->
  <p-dialog
      styleClass="custom"
      [(visible)]="display"
      [modal]="true"
      [responsive]="true"
      [minWidth]="200"
      [minY]="70"
      (onHide)="hide()"
      >
    <app-document-pop-up></app-document-pop-up>
  </p-dialog>
  <!-- [closable]="false"
  [showHeader]="false" -->
</div>
