<div>
  <table>
    <thead>
      <tr>
        <th l10nTranslate>ADM_ACM.RESUME.status</th>
        <th l10nTranslate>ADM_ACM.RESUME.bsp</th>
         <!-- ??? -->
        <th l10nTranslate>ADM_ACM.RESUME.agent_code</th>
        <th l10nTranslate>ADM_ACM.RESUME.spdr</th>
        <th l10nTranslate>ADM_ACM.RESUME.issue_date</th>
        <th l10nTranslate>ADM_ACM.RESUME.amount</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ status }}</td>
        <td>BSP val</td>
        <td>{{ agent_code }}</td>
        <td>{{ spdr }}</td>
        <td>{{ issue_date | date:'dd/MM/yyyy' }}</td>
        <td>{{ total_amount | number:amount_format }} EUR</td>
      </tr>
    </tbody>
  </table>
</div>