table {
    
    th {
        font-weight: normal;
        padding-top: 10px;
        padding-left: 30px;
        padding-right: 30px;
        // white-space: nowrap;
    }
    
    td {
        font-weight: bold;
        padding-bottom: 11px;
        padding-left: 30px;
        padding-right: 30px;
        // white-space: nowrap;
    }
}