$theme-color: #FEF151;;
$width-left: 35%;
$width-right: 65%;

.tab-content-header {
    padding: 21px 21px 0 21px;
    color: #002A51;
    
    .title {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 30px;
    }

    .subtitle {
        font-size: 14px;	
        font-weight: bold;	
        line-height: 16px;
        width: 100%;

        .date {
            float: left;
            width: $width-left;
        }
        
        .operation {
            float: left;
            width: $width-right;
        }
    }
  
    .color-bullet {
        height: 18px;
        border-left: 6px solid $theme-color;
        border-right: 6px solid $theme-color;
        margin-right: 3px;
    }

    border-bottom: 2px solid $theme-color;
}

.history-component {

    .history-table {
        width: 100%;
        border-collapse: collapse;

        .history-container {
            .history {
                background-color: #F2F2F2;
                
                td {
                    padding: 12px 24px;
                    color: #152C5A;	
                    font-size: 14px;	
                    line-height: 16px;
                }

                td.history-date {
                    width: $width-left;
                }

                td.history-operation {
                    width: $width-right;
                }
            }
            
            .last {
                margin-bottom: 30px;
            }
    
            .history:nth-child(2n) {
                background-color: #FFFFFF;
            }
        }
    }
}