<p-dialog
  [(visible)]="display"
  [responsive]="true"
  [draggable]="false"
  [width]="289"
  [minY]="70"
  [modal]="true"
  [styleClass]="style_class"
  [dismissableMask]="true"
  [baseZIndex]="10000">
  <img src="assets/images/alerts/ico_{{image_type}}.svg">
  <p class="title">
    <b>{{ alert?.title }}</b>
  </p>
  <p class="content-text">{{ alert?.message }}</p>
  <p-footer>
    <button class="button-accept"
      *ngIf="checkAcceptButton()"
      (click)="onClickAccept()" >Accept</button>
    <button class="button-cancel"
      *ngIf="checkCancelButton()"
      (click)="onClickCancel()">Cancel</button>
  </p-footer>
</p-dialog>
